
#tabList .margin-form > p > a {
	text-decoration: underline;
}

select.ebay_select{
	color:#000 !important;
}

#selectTagTemplate {
	background: white;
	height: 22px;
	margin-left: 5px;
	margin-top: 4px;
	margin-bottom: 3px;
}
.mceIframeContainer iframe
{
	width: 800px !important;
}

.ebay_center
{
	text-align: center !important;
}

#statsForm div.label
{
	width:100%;
	margin-bottom:10px;
	font-weight:bold;
}

#statsForm div.input
{
	margin-bottom:5px;

}

#statsForm div.input input
{
	margin-right:3px;
}

#statsForm div.input:last-child
{
	margin-bottom:10px;
}

#statsForm .primary{
	margin-top:10px;
}


#fancybox-loading {
	display: none;
}

input.primary {
	text-shadow: none;
	background-image:none;
	background-color:#0055AA;
	background: -webkit-gradient(linear, center top ,center bottom, from(#0055FF), to(#0055AA)) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(center top, #0055FF, #0055AA) repeat scroll 0 0 transparent;
	color: white;
}

.tooltip {
	vertical-align: middle;
	display: inline-block;
	margin-left: 3px;
}

textarea + .tooltip {
	vertical-align: top;
}

/* Tips */


/* This is the 	 Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
.tooltipster-default {
	border-radius: 5px; 
	border: 1px solid #000;
	background: #4c4c4c;
	color: #fff;
}

/* Use this next selector to style things like font-size and line-height: */
.tooltipster-default .tooltipster-content {
	font-family: inherit;
	font-size: 11px;
	line-height: 16px;
	padding: 4px 5px;
	overflow: hidden;
}

/* This next selector defines the color of the border on the outside of the arrow. This will automatically match the color and size of the border set on the main tooltip styles. Set display: none; if you would like a border around the tooltip but no border around the arrow */
.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border {
	/* border-color: ... !important; */
}


/* If you're using the icon option, use this next selector to style them */
.tooltipster-icon {
	cursor: help;
	margin-left: 4px;
}

/* This is the base styling required to make all Tooltipsters work */
.tooltipster-base {
	padding: 0;
	font-size: 0;
	line-height: 0;
	position: absolute;
	z-index: 9999999;
	pointer-events: none;
	width: auto;
	overflow: visible;
}
.tooltipster-base .tooltipster-content {
	overflow: hidden;
}


/* These next classes handle the styles for the little arrow attached to the tooltip. By default, the arrow will inherit the same colors and border as what is set on the main tooltip itself. */
.tooltipster-arrow {
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.tooltipster-arrow span, .tooltipster-arrow-border {
	display: block;
	width: 0; 
	height: 0;
	position: absolute;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-top: 8px solid;
	bottom: -8px;
}
.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-top: 9px solid;
	bottom: -8px;
}

.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-bottom: 8px solid;
	top: -8px;
}
.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-bottom: 9px solid;
	top: -8px;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
	left: 0;
	right: 0;
	margin: 0 auto;
}
.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
	left: 6px;
}
.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
	left: 5px;
}
.tooltipster-arrow-top-right span,  .tooltipster-arrow-bottom-right span {
	right: 6px;
}
.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
	right: 5px;
}
.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important; 
	border-left: 8px solid;
	top: 50%;
	margin-top: -7px;
	right: -8px;
}
.tooltipster-arrow-left .tooltipster-arrow-border {
	border-top: 9px solid transparent !important;
	border-bottom: 9px solid transparent !important; 
	border-left: 9px solid;
	margin-top: -8px;
}
.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important; 
	border-right: 8px solid;
	top: 50%;
	margin-top: -7px;
	left: -8px;
}
.tooltipster-arrow-right .tooltipster-arrow-border {
	border-top: 9px solid transparent !important;
	border-bottom: 9px solid transparent !important; 
	border-right: 9px solid;
	margin-top: -8px;
}


/* Some CSS magic for the awesome animations - feel free to make your own custom animations and reference it in your Tooltipster settings! */

.tooltipster-fade {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity;
}
.tooltipster-fade-show {
	opacity: 1;
}

.tooltipster-grow {
	-webkit-transform: scale(0,0);
	-moz-transform: scale(0,0);
	-o-transform: scale(0,0);
	-ms-transform: scale(0,0);
	transform: scale(0,0);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-backface-visibility: hidden;
}
.tooltipster-grow-show {
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

.tooltipster-swing {
	opacity: 0;
	-webkit-transform: rotateZ(4deg);
	-moz-transform: rotateZ(4deg);
	-o-transform: rotateZ(4deg);
	-ms-transform: rotateZ(4deg);
	transform: rotateZ(4deg);
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
}
.tooltipster-swing-show {
	opacity: 1;
	-webkit-transform: rotateZ(0deg);
	-moz-transform: rotateZ(0deg);
	-o-transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
	-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 1);
	-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-moz-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-ms-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-o-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
}

.tooltipster-fall {
	top: 0;
	-webkit-transition-property: top;
	-moz-transition-property: top;
	-o-transition-property: top;
	-ms-transition-property: top;
	transition-property: top;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
}
.tooltipster-fall-show {
}
.tooltipster-fall.tooltipster-dying {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	top: 0px !important;
	opacity: 0;
}

.tooltipster-slide {
	left: -40px;
	-webkit-transition-property: left;
	-moz-transition-property: left;
	-o-transition-property: left;
	-ms-transition-property: left;
	transition-property: left;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-slide.tooltipster-slide-show {
}
.tooltipster-slide.tooltipster-dying {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	left: 0px !important;
	opacity: 0;
}


/* CSS transition for when contenting is changing in a tooltip that is still open. The only properties that will NOT transition are: width, height, top, and left */
.tooltipster-content-changing {
	opacity: 0.5;
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.warning
{
	background : url('../img/warning.png') no-repeat 2px 50%;
}
#content .warning.big.tips {
	background : url('../img/tips.png') no-repeat 2px 50% #fff;
}
#content .warning.big, #content .ebay_mind.big, #content .ebay_wrong{
	padding: 20px 20px 20px 60px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	width: 100%;
	background: url('../img/big-warning.png') no-repeat 17px 50% #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	font-weight:bold;
	margin-bottom:10px;
}

#content .ebay_wrong.big{
	background : url('../img/big-error.png') no-repeat 17px 50% #fff;
}

.menu-msg { display: none; }


.menuTab li.success
{
	background : url('../img/success.png') no-repeat 2px 4px #EFEFEF;
	padding-left: 20px;
}

.menuTab li.wrong
{
	background : url('../img/error.png') no-repeat 2px 4px #EFEFEF;
	padding-left: 20px;
}

.menuTab li.mind
{
	background : url('../img/warning.png') no-repeat 2px 4px #EFEFEF;
	padding-left: 20px;
}

.pagination
{
	overflow: hidden;
	margin-bottom: 5px;
	list-style: none;
}

.pagination li
{
	width: 15px;
	height: 15px;
	text-align: center;
	cursor: pointer;
	float: left;
	margin-left: 5px;
}

.pagination li:hover
{
	color: #0055FF;
}

.pagination li:first-child
{
	margin-left: 0;
}


.pagination li.prev,
.pagination li.next
{
	background: #ffffff;
	border: 1px solid #585A69;
}

.pagination li.current
{
	border: 1px solid #585A69;
	color: #0055FF;
}

#domesticShipping td.linked, #internationalShipping td.linked
{
	background : url('../img/link.png') no-repeat 0 15px;
	padding-left: 45px;
}

.shipping_destinations ul, .shipping_destinations ul li{
	list-style:none;
}

#ebay_trash
{
	cursor:pointer;
}

.ebay_shipping_text, .presta_shipping_text
{
	text-decoration:underline;cursor:pointer;
}

.shipping_configured
{
	width: 100%; 
	margin-bottom: 20px; 
	background-color: rgb(221, 242, 219) !important;
}

.shipping_not_configured
{
	width:100%;
	margin-bottom:20px;
	background-color:#FFF;
}

#domesticShipping td.big-linked, #internationalShipping td.big-linked
{
	background-position: left center;
}

fieldset.new {
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  background: #f2f2f2;
  color: #7f7f7f;
  padding-left: 1rem;
  position: relative;
  padding-top: 3.5rem;
}

fieldset.new legend {
  background: #ffffff;
  font-size: 1.2em;
  font-weight: 600;
  margin-left: -1rem;
  border-left: none;
  
  position: absolute;
  top: 0.35em;
}

/* welcome boxes */

.ebay-welcome {
  color: #7f7f7f;
}

#ebay-logo {
  padding-left: 2%;
}

#ebay-welcome-left-content {
  width: 92%;
  padding-left: 4%;
  padding-right: 4%;
}

#ebay-welcome p.title {
  font-weight: bold;
}

.ebay-bullet-points {
  list-style-type:square;
}

.ebay-bullet-points li {
  margin-left: 15px;
  text-indent: -8px;
}

#ebay-welcome-right {
  position: relative; 
}

.ebay-dark-gray-box-container
{
	margin-top:15px;
	background-color:#f2f2f2;
	padding:10px;
}

.ebay-dark-gray-box-title
{
	font-size:15px;
	font-weight:bold;
}

.ebay-dark-gray-box-content
{
	width: 210px;
	float: left;
	margin-right: 20px;
}

.ebay-light-gray-box {
  box-sizing: border-box;
  top: 0; left: 0; right: 0; bottom: 0;
  border: 1px solid #d9d9d9;
  background-color: white;
  width: 98%;
  height: 100%;
  padding-left: 4%;
  padding-right: 2%;
  margin-left: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ebay-light-gray-box-content-outer {
  display: table;  
  width: 100%;
  height: 100%;
}

.ebay-light-gray-box-content {
  display: table-cell;
  vertical-align: middle;
}

.ebay-light-gray-box-title {
  font-size: 1.2em;
  font-weight: bold;
}

.ebay-light-gray-box-ul li {
  margin-bottom: 0.5em;
  padding-left: 0.5em;
  color: #7f7f7f;
}

.ebay-light-gray-box-number {
  margin-right: 1em;
  font-size: 1em;
}

#ebay-welcome-top {
  padding-bottom: 1em;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 1em;
}

.ebay-boxes-2-col-table {
  display: table;
  width: 100%;
  border-collapse: separate; 
  margin-bottom: 2em; 
}

.ebay-boxes-2-col-cell {
  margin: 0;
  padding: 0;
  width: 50%;
  display: table-cell;
  vertical-align: top;
  text-align: left;
  position: relative;
}

.ebay-boxes-2-col-cell-content {
  box-sizing: border-box;  
  width: 98%; 
  height: 100%;
}

.ebay-boxes-2-col-cell-content.absolute.right {
  
  top: 0; right: 0; bottom: 0;
}

.ebay-boxes-2-col-cell-content fieldset {
  width: 100%;
  height: 100%;
}

.ebay-boxes-2-col-cell-content.left {
  float: left;
  text-align: left;  
}

.ebay-boxes-2-col-cell-content.right {
  float: right;
  text-align: left;  
}

#ebay-no-profile {
  font-size: 1.2em;
  line-height: 69px;
  text-align: center;
}

#ebay-install-pict {
  float: left;
  margin-right: 1em;
}

#ebay-install-title {
  margin-top: 0;
  font-size: 1.4em;
  font-weight: bold;
}

#ebay-install-ul {
  list-style-type:square;
  font-size: 0.8em;
  line-height: 1.65em;
}

#ebay-install-ul li {
  margin-left: 15px;
  list-style-position: inside;
}

#ebay-register-content {
  width: 100%;
  display: table;
}

#ebay-register-content .txt-right
{
	text-align: right;
}

#ebay-register-left-col {
  display: table-cell;
  width: 50%;
  color: #7f7f7f;    
}

#ebay-register-left-col-content {
    padding: 1em;
    padding-right: 3em;
}

#ebay-register-left-col p, #ebay-register-left-col label {
  color: #7f7f7f;  
}

#ebay-register-right-col {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}

#ebay-register-right-col-content {
  padding: 1em;
  padding-left: 3em;
  border-left: 1px solid #a6a6a6;
  overflow: hidden;
}

a.ebay-primary {
  text-shadow: none;
  background-image:none;
	background-color:#0055AA;
	
  background: -webkit-gradient(linear, center top ,center bottom, from(#0055FF), to(#0055AA)) repeat scroll 0 0 transparent;  
  background: -moz-gradient(linear, center top ,center bottom, from(#0055FF), to(#0055AA)) repeat scroll 0 0 transparent;
  color: white;
  text-shadow: none;
  background: -webkit-gradient(linear, center top ,center bottom, from(#0055FF), to(#0055AA)) repeat scroll 0 0 transparent;
  background: -moz-linear-gradient(center top, #0055FF, #0055AA) repeat scroll 0 0 transparent;
  color: white;
}

#ebay-register-div {
  width: 60%;
  margin-bottom: 2em;
}

#ebay-register-link {
  float: left;
  width: 160px
}

#ebay-register-subtitle {
  padding-bottom: 1em;
}

.ebay-register-p {
  color: #a6a6a6;
  font-size: 0.9em;
  width: 100%;
  padding-bottom: 1em;
}

#ebay-register-title {
  margin-bottom:2em;
  width:100%;
  display:inline-block;
  color: #7f7f7f;
}

.ebay-register-p {
  margin-bottom: 0.5em;
}

.ebay-label {
  text-align: left;
  width: auto;
}

.ebay-float-right {
  float: right;
}

#ebay-seller-tips-link {
  color: #7f7f7f;
  font-size: 0.9em;
  line-height: 1em;
  position: absolute;
  top: 1em;
  right: 1em;
}

.ebay-title {
  font-weight: bold;
  color: #7F7F7F;
}

#ebay-tips {
  padding-top: 3em;
  padding-bottom: 1em;
  border-top: 1px solid #d9d9d9;
  margin-bottom: 1em;
}

#eBayUsernameInput {
  margin: 0;
}

.ebay_gray_title_box {
  color: #7f7f7f;
  background-color: #f2f2f2;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  width:60%;
}

.ebay_gray_title_box:first-child {
	width:40%;
}

/* override PrestaShop css */

.nobootstrap {
  min-width: 0 !important;
}

#ebay_main_menu {
  float: right;
  list-style: none;
  margin-top: 3px;
margin-bottom: 3px;
}

#ebay_main_menu li {
  float: left;
  padding: 0 5px 0 5px;
  border: 1px solid black;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
  font-weight: normal;
  opacity:0.5;
  margin-bottom: 3px;
  margin-top: 3px;
}

#ebay_main_menu li.selected {
 opacity:1;
}

/* from formConfig.tpl */

.menuTab { float: left; padding: 0; margin: 0; text-align: left; width: 100% }
.menuTab li { text-align: left; float: left; display: inline; padding: 5px; padding-right: 10px; background-color: #EFEFEF; font-weight: bold; cursor: pointer; border-left: 1px solid #EFEFEF; border-right: 1px solid #EFEFEF; border-top: 1px solid #EFEFEF; }
.menuTab li.menuTabButton.selected { background-color: #FFF6D3; border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; border-top: 1px solid #CCCCCC; }
#tabList { clear: left; }
.tabItem { display: none; }
.tabItem.selected { display: block; background-color: #FFFFF0; border: 1px solid #CCCCCC; padding: 10px; padding-top: 20px; }
.menuTab #menuTab7.menuTabButton.selected, .menuTab #menuTab6.menuTabButton.selected { background-color: #FFF6D3; border-left: 1px solid #DFDFDF; border-right: 1px solid #DFDFDF; border-top: 1px solid #DFDFDF; }

.ebay_hidden {
  display: none;
}

#configFormStoreCategories
{
	margin-bottom:15px;
}

.module_confirmation
{
	background: #DFF2BF url('../../../../img/admin/icon-valid.png') no-repeat scroll 6px 6px;
	border: 1px solid #4F8A10;
	color: #4F8A10;
	border-radius: 3px;
	padding: 13px 5px 5px 40px;
	min-height: 28px;
	margin:0 0 10px 0;
}
.module_confirmation.alert {
	background-image: inherit;
}

.red {
  color: red !important;
}

.left-padded-name {
  padding-left: 13px;
}

/*Tab 4 - Category*/
#load_cat_ebay tr td:nth-child(1){
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
#load_cat_ebay tr.wait td{
	font-weight: normal;
	color: orange;
}
#load_cat_ebay tr.load td{
	font-weight: bold;
}
#load_cat_ebay tr.load td:nth-child(1){
	background-image: url('../img/ajax-loader-small.gif');
}
#load_cat_ebay tr.error td:nth-child(1){
	background-image: url('../img/big-error.png');
}
#load_cat_ebay tr.success td:nth-child(1){
	background-image: url('../img/bg-li-tabs-finished.png');
	background-size: 14px 12px;
}
#load_cat_ebay tr.error td{
	font-weight: bold;
	color: red;
}
#load_cat_ebay tr.success td{
	color: green;
}
.hidden.importCatEbay{
	display: none;
}



/*KB*/
.kb-help{
	display: none;
}
.kb-help.active{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url('../img/help.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

#content .conf.info{
	background-color: #d3f1f7;
	border: 1px solid rgb(23, 119, 182);
}

#check_database_logs tr.success{
	background: #DFF2BF;
}
#check_database_logs td{
	color: #333;
}
#check_database_logs tr.success td:nth-child(1){
	background-image: url('../img/bg-li-tabs-finished.png');
    background-size: 14px 12px;
    background-repeat: no-repeat;
    background-position: center center;

}


/*FORM REGISTER*/
#eBayUsernameInput, #ebay_countries, #ebay_languages, #ebayRegisterButton, #eBayUsernamesList, #ebay_stats{
	width: 160px;
	box-sizing:border-box;
	color: #000;
}

#register_table{
	width:100%;
	border-collapse:collapse;
}

#register_table tbody tr td:nth-child(2){
	width:160px;
}
#register_table tbody tr td:nth-child(1) label{
	width: 95%;
	display: block;
	text-align: right;
}
#ebay-register-left-col .margin-bottom td{
	padding-bottom: 12px;
}
#register_table caption p strong{
	float: left;
}
#title_register{
	width: 100%;
	overflow: hidden;
	padding-bottom: 20px;
}
#title_register strong{
	display: block;
	width: 48%;
	padding: 0 0 0 2%;
	margin:0;
	float: left;
}
#ebay-register-right-col, #ebay-register-left-col{
	float: left;
}




/*SYNCHRONIZATION > TAB 1*/
.box_sync_ajax{
	width: 100%;
	min-height: 120px;
	line-height: 120px;
	background: #ebedf4;
	margin-bottom: 18px;
}

#content .alert { text-align: left; width: 100%; box-sizing: border-box;}

textarea[name='ebay_returns_description']{
	width:100%;
}
