<?php
$galleryId = uniqid();
?>
<section id=" gallery-<?php echo $galleryId; ?>">
    <div class="gallery-container">
        <div id="gallery-images-<?php echo $galleryId; ?>">
            <?php foreach ($images['list'] as $index => $imageLine) { ?>
                <?php $imageId = 'image-' . $galleryId . '-' . $index; ?>
                <img id="<?php echo $imageId; ?>" class="big image-<?php echo $galleryId; ?>"
                     src="<?php echo $imageLine['big']; ?>"/>
            <?php } ?>
        </div>

        <div id="gallery-slider-<?php echo $galleryId; ?>">
            <?php foreach ($images['list'] as $index => $imageLine) { ?>
                <?php $imageId = 'image-' . $galleryId . '-' . $index; ?>
                <a href="#<?php echo $imageId; ?>">
                    <img class="thumb preview-<?php echo $galleryId; ?>" src="<?php echo $imageLine['small']; ?>">
                </a>
            <?php } ?>
        </div>
    </div>

    <style>
        .gallery-container {
            text-align: center;
        }

        #gallery-images-<?php echo $galleryId; ?> {
            overflow: hidden;
            position: relative;

            margin: 20px auto;

            -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
        }

        #gallery-images-<?php echo $galleryId; ?> img {
            width: 100%;
            height: auto;

            position: absolute;
            top: 0;
            left: -<?php echo $coverParams['width']; ?>px;
            z-index: 1;
            opacity: 0;

            transition: all linear 500ms;
            -o-transition: all linear 500ms;
            -moz-transition: all linear 500ms;
            -webkit-transition: all linear 500ms;
        }

        #gallery-images-<?php echo $galleryId; ?> img:target {
            left: 0;
            z-index: 9;
            opacity: 1;
        }

        #gallery-images-<?php echo $galleryId; ?> img:first-child {
            left: 0;
            opacity: 1;
        }

        #gallery-slider-<?php echo $galleryId; ?> a {
            text-decoration: none;
            background: transparent;
        }

        #gallery-slider-<?php echo $galleryId; ?> img {
        }

        @media only screen and (min-width: 1201px) {
            #gallery-images-<?php echo $galleryId; ?> {
                width: <?php echo $coverParams['width']; ?>px;
                height: <?php echo $coverParams['height']; ?>px;
            }

            #gallery-slider-<?php echo $galleryId; ?> img {
                border: 3px solid #999;
                margin: 0 10px;
            }
        }

        @media only screen and (max-width: 1200px) {
            #gallery-images-<?php echo $galleryId; ?> {
                width: <?php echo $coverParams['width']; ?>px;
                height: <?php echo $coverParams['height']; ?>px;
                max-width: 675px;
            }

            #gallery-slider-<?php echo $galleryId; ?> img {
                border: 3px solid #999;
                margin: 0 10px;
            }
        }

        @media only screen and (max-width: 991px) {
            #gallery-images-<?php echo $galleryId; ?> {
                width: <?php echo $coverParams['width']*0.50; ?>px;
                height: <?php echo $coverParams['height']*0.50; ?>px;
                max-width: 675px;
            }

            #gallery-slider-<?php echo $galleryId; ?> img {
                border: 2px solid #999;
                margin: 0 5px;
                max-width: 75px;
            }
        }

        @media only screen and (max-width: 480px) {
            #gallery-images-<?php echo $galleryId; ?> {
                width: <?php echo $coverParams['width']*0.30; ?>px;
                height: <?php echo $coverParams['height']*0.30; ?>px;
                max-width: 240px;
            }

            #gallery-slider-<?php echo $galleryId; ?> img {
                max-width: 50px;
                border: 1px solid #999;
                margin: 0 3px;
            }

        }

        @media only screen and (max-width: 320px) {
            #gallery-images-<?php echo $galleryId; ?> {
                width: <?php echo $coverParams['width']*0.24; ?>px;
                height: <?php echo $coverParams['height']*0.24; ?>px;
            }

            #gallery-slider-<?php echo $galleryId; ?> img {
                max-width: 30px;
                border: 1px solid #999;
                margin: 0 3px;
            }
        }
    </style>
</section>