.tags_block .block_content {
  overflow: hidden; }
  .tags_block .block_content a {
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;
    padding: 4px 9px 5px 9px;
    border: 1px solid #E0E0E1;
    float: left;
    margin: 0 3px 3px 0; }
    .tags_block .block_content a:hover {
      color: #333;
      background: #f6f6f6; }

/*# sourceMappingURL=blocktags.css.map */
