@import "compass";
@import "theme_variables";

/******************************************************************
					Sitemap Page Styles
					*******************************************************************/
					#sitemap {
						.sitemap_block {
							.page-subheading {
								margin-bottom: 16px;
							}
							li {
								line-height: 16px;
								padding-bottom: 11px;
								a {
									&:before {
										content: "\f105";
										display: inline-block;
										font-family: $font-icon;
										padding-right: 10px;
									}
									&:hover {
										font-weight: bold;
									}
								}
							}
						}
					}