
.content-header {
    text-align: right;
    margin-bottom: 25px;
}
.content-footer {
    text-align: right;
    margin-top: 15px;
    clear: both;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.grid-content, .grid-content .table{
    width: 100%;
}

.grid-content .table .order-items {
    padding: 10px 0px;
}

.grid-content .table a {
    text-decoration: underline;
    color: #268CCD;
}
/* Validation & show/hide */

.hidden-option {
    /*display: none !important;*/
}

.error-container {
    clear: both;
    margin: 10px 0;
}

.error-container li.invalid {
    color: red;
    font-weight: bold;
}

input[type="text"].invalid, textarea.invalid, select.invalid {
    border: 1px solid red;
}
#tinymce-custom-description-toggle {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

div.invalid {
    color: red;
    font-size: 12px;
    font-weight: bold;
    padding-left: 12px;
    background: transparent url('../img/red-up.gif') 2px 4px no-repeat;
}

form.validate-form em {
    color: red;
    font-weight: bold;
}

input[type="text"]:disabled {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
}
input[type='button'], button {
    margin: 0 3px;
}
.button-back {
    background-color: #EEEEEE;
    border-width: 1px;
    border-style: solid;
    border-color:  #ddd #999999 #999999 #ddd;
}
.button {
    font-size: 12px !important;
    padding: 3px 8px !important;
}
.content-header .button, .content-footer .button  {
  margin-right: 3px;
}

input.small-width, .tab-panel input.small-width{
    width: 130px !important;
}

input[type="text"], .tab-panel input[type="text"] {
    width: 274px;
    margin: 2px;
    display: inherit;
}

select, .tab-panel select{
    background: none repeat scroll 0 0 #FFFFFF;
    font: 12px arial,helvetica,sans-serif;
    width: 280px;
    margin: 2px;
    max-height: 150px
}

.column-left select, .column-right select {
    width: 140px;
}

.table label {
    float: none;
}

/* Grid */
.grid-pagitation {
    vertical-align: bottom;
}

.paginator-current-page {
    width: 15px !important;
}

.grid-pagitation select {
    width: auto;
}
.grid-pagitation input {
    width: auto;
}
.filter-head input, .filter-head select {
    width: 100% !important;
    padding: 2px 0px;
    margin: 0px;
}

.filter-head td div {
    overflow: hidden;
    padding: 3px;
}
.empty-grid-row {
    padding: 20px 0px !important;
    font-weight: bold;
}

/* Page layout */

.column-left {
    float: left;
}

.column-right {
    float: left;
    margin-left: 40px;
}

.column-left fieldset, .column-right fieldset {
    width: 400px;
}
table .row-label {
    font-weight: bold;
    padding-right: 30px;
    vertical-align: top;
    min-width: 135px;
}

/* Ajax loader */
#ajaxloader {
    background: #191919;
    display:none;
    height: 100%;
    left: 0;
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 7000;

    opacity: 0.5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

#ajaxloader table {
    margin: 0 auto;
    height: 100%;
}

/* Ajax loader */
.ajaxloader-angular {
    background: #191919;
    height: 100%;
    left: 0;
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 7000;

    opacity: 0.5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

.ajaxloader-fixed {
    position: fixed;
}

.ajaxloader-absolute {
    position: absolute;
}

.ajaxloader-angular table {
    margin: 0 auto;
    height: 100%;
}

#specific-block td.col-left {
    vertical-align: top;
}


/* Notifcation on progress */

h3.notify {
    color: red;
}

.notify-block {
    border: 4px solid #EBEBEB;
    color: #707070;
    margin: 5px 0px;
}

.notify-block ul {
    border: 1px solid #D7D7D7;
}

.notify-block ul {
    margin: 0px;
    padding: 7px 40px 2px 7px;
    font-family: Georgia;
    font-style: italic;
    list-style: none;
}
.notify-block ul li {
    padding-bottom: 5px;
}

.notify-processing {
    background: url("../img/notify/processing.gif") no-repeat scroll 99% 50%;
}

.notify-processing ul {

}

.notify-success {
    border-color: #A8E368;
    background: url("../img/notify/success.png") no-repeat scroll 99% 50%;
}

.notify-success ul {
    border-color: #99D658;
}

.notify-warning {
    background: url("../img/notify/warning.png") no-repeat scroll 99% 50%;
    border-color: #FBDF70;
}

.notify-warning ul {
    border-color: #EDD15F;
}

.notify-error {
    border-color: #F86556;
    background: url("../img/notify/error.png") no-repeat scroll 99% 50%;
}

.notify-error ul {
    border-color: #EB5746;
}


.withLeftBorder {
    background: url("./../img/separator_subnav.png") no-repeat scroll 0 5px transparent;
}

p.note {
    color: #7F7F7F;
    font-size: 0.85em;
    margin: 0.5em 0 0;
    padding: 0 0 0.5em;
}

.price-conditions table input {
    width: 75px;
}
.price-conditions table select {
    width: 85px;
}
.price-conditions .product-price-condition select {
    width: 126px;
}
.price-conditions .product-price-condition label {
    width: 35px;
}
.price-conditions p {
    color: #7F7F7F;
    font-size: 0.85em;
}
.price-conditions .title-100px {
    width: 100px;
}
.price-conditions .title-75px {
    width: 75px;
}
.price-conditions .padding-center-10px {
    padding: 0 10px;
}
.price-conditions .hidden-option {
    display: none;
}

#synchronize-process a {
    text-decoration: underline;
}

.new-shipping-container {
    margin: 5px;
}

.new-shipping-container a {
    font-weight: bold;
}
.int-shipping-row td {
    border-bottom: 0px !important;
}

.ship-to-location-list {
    display: block;
    list-style-type: none;
    overflow: hidden;
}

.ship-to-location-list li {
    display: block;
    float: left;
    margin-bottom: 10px;
    width: 200px;
}

.ship-to-location-list label {
    font-weight: normal;
}

td.location-row {
    padding-top: 10px !important;
}

#shipping input.small-width {
    width: 70px;
}

#shipping input[readonly] {
    background-color: #ccc;
}

#shipping select.small-width {
    width: 150px;
}
option.specific-feature {
    background-color: #ccc;
}
.subtable label {
    text-align: left;
    width: 50px;
}

.subtable .col-left {
    width: 60px !important;
}

/** Style for tab */

.tab-row {
    background-color:#fafafa; 
    border:1px solid #ccced7;
    border-right:none;
    float:left;
    width:140px;
}
.tab-row h4 {
    border:none;
    margin: 0;
    padding: 0;
    width: 100% !important;
    background: none !important;
}

.tab-row h4:first-child  a {
    border-top:none;
}
.tab-row h4 a {
    display:block;
    font-weight:normal;
    color:#666;
    padding: 7px 10px;
    border-top:1px solid #CCCED7;
    border-right:1px solid #CCCED7;
}

.tab-row h4.selected a {
    background-color:#EBEDF4;
    font-weight:bold;
    color:#000;
    border-right:none;
}

.tab-page {
    background-color: #EBEDF4;
    border: 1px solid #CCCED7;
    margin-left: 140px;
    min-height: 404px;
    padding: 5px 10px 10px;
}

.tab-pane hr {
    max-width: 90%;
}

.tab-page h4 {
    font-size: 18px;
    font-weight: normal;
}
.tab-page td.col-left {
    width: 200px;
}

.checkbox-row label{
    float: none;
    padding-left: 5px;
}

.checkbox-row td {
    vertical-align: top;
}

.desoration-underline {
   text-decoration: underline;
}

.strike-dot {
    border-bottom: 1px dashed;
    cursor: pointer;
}

.fee-list {
    border: 0px !important;
    margin-left: 10px !important;
}

.fee-list li {
    padding-bottom: 0px !important;
}

.psh16-container label {
    float: left;
    width: 300px;
}

.profiles-tab-content .tab-panel {
    display:none;
}
.profiles-tab-content .active {
    display:block;
}

.tab-panel td.col-left {
    width: 200px;
    text-align: right;
    padding-right: 20px;
    vertical-align: top;
}
.tab-panel td > label {
    padding-bottom: 8px;
    line-height: 25px;
}

.short-table td > label {
    padding-bottom: 0px;
    line-height: 15px;

}

.price-option-select-box {
    float: left;
}
.float-no {
    float: none !important;
}

#conditions-list td {
    vertical-align: top;
}

#conditions-list .price-custom-value {
    margin-top: 15px;
}

#priceTemplateForm .margin-form {
    margin-bottom: 12px;
}

#priceTemplateForm #new-condition {
    margin-left: 10px;
}

#shippingTemplateForm label {
    float: left;
}
#shippingTemplateForm  .margin-form {
    padding: 0 0 1em 260px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

form.submitted .ng-invalid, .ng-invalid.ng-dirty {
    border-color: #FA787E !important;
}

.view-replay {
    font-style: italic;
    cursor: pointer;
}

.replay-view {
    display: none;
    margin-left: 5px;
}

#mappingPSCategoryBox {
    min-height: 300px;
    width:100%;
}

#mappingPSCategoryBox option:disabled {
    background-color: lightgrey;
}

.margin-17 {
    margin: 17px 0;
}

.bootstrap input[type="email"] {
    display: block;
    width: 100%;
    height: 31px;
    padding: 6px 8px;
    font-size: 12px;
    line-height: 1.42857;
    color: #555;
    background-color: #F5F8F9;
    background-image: none;
    border: 1px solid #C7D6DB;
    border-radius: 3px;
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}