body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', sans-serif; }

header {
  padding-bottom: 0px; }

*:focus {
  box-shadow: none !important;
  text-decoration: none; }

* {
  text-shadow: none; }

*:hover {
  outline: none; }

*:active {
  outline: none; }

*:focus {
  outline: none; }

*:visited {
  outline: none; }

.bxslider {
  transform: scale(0); }

a {
  color: #383838;
  text-decoration: none; }

ul {
  margin: 0px;
  padding: 0px; }

.leftInfo {
  color: #fff; }
  .leftInfo span {
    float: left;
    padding: 9px 15px 0px 0px;
    font-size: 13px;
    font-weight: 600; }

.header_user_info a {
  color: #fff;
  font-weight: 600;
  display: block;
  padding: 9px 9px 8px 8px; }

.block .title_block a:hover, .block h4 a:hover {
  color: #fff; }

.block .products-block li {
  padding: 0 0 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #E0E0E1;
  padding: 15px; }

.header_user_info a:hover, .header_user_info a.active {
  background: transparent;
  text-decoration: underline; }

.block .list-block {
  margin-top: -8px;
  padding-top: 8px; }

.header_user_info {
  border: none; }
  .header_user_info span {
    float: left; }

.bgHead {
  background: linear-gradient(90deg, #fff 0, #fff 23%, #1B2845 0, #1B2845);
  box-shadow: 0px 3px 7px 0px rgba(87, 87, 87, 0.18); }

#header_logo {
  background: url("/themes/swift/img/custom/1-bg-shape.svg") top right no-repeat;
  height: 67px; }
  #header_logo .logo {
    position: absolute;
    z-index: 999; }

#search_block_top {
  padding-top: 5px; }

#search_block_top #search_query_top {
  background: #fff;
  margin-right: 1px;
  border-radius: 5px;
  border: none; }

#search_block_top .btn.button-search {
  background: transparent; }

#search_block_top .btn.button-search:before {
  color: #1B2845; }

#search_block_top .btn.button-search:hover {
  background: #d8d8d8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

#search_block_top #searchbox {
  float: left;
  width: 340px; }

#search_block_top {
  float: left; }
  #search_block_top .ts {
    float: right; }

.blockCartTop {
  float: right; }

#search_block_top {
  width: 400px; }

header .row #header_logo {
  width: 45.33333%; }

.rightSide {
  float: right; }

#header .shopping_cart {
  width: auto;
  padding-top: 2px;
  transition: 2s; }
  #header .shopping_cart .cartDesc {
    color: #fff;
    margin-right: 10px;
    float: left; }
  #header .shopping_cart .cartImg {
    float: left;
    margin-top: 3px;
    margin-right: 15px; }
  #header .shopping_cart .lineOne {
    float: left;
    font-size: 16px;
    font-weight: 400; }
  #header .shopping_cart .lineTwo {
    float: left;
    font-size: 12px;
    font-weight: 600;
    clear: both; }

.shopping_cart > a:first-child:before {
  display: none; }

#header .shopping_cart .button.button-small {
  text-shadow: none;
  color: #fff !important; }

dl.products {
  margin-bottom: 0px; }

.navFull {
  background: #fff; }

.sf-menu > li:nth-last-child(-n+2) {
  float: right; }

.sf-menu > li > a.sf-with-ul:after {
  content: "\f0d7";
  font-family: "FontAwesome";
  display: inline-block;
  float: right;
  font-size: 12px;
  color: #3772FF;
  padding: 0px 0 0 6px; }

.sf-menu > li > ul {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-radius: 5px; }

header .row #header_logo {
  padding-top: 11px; }

.homeslider-description {
  color: #fff;
  text-align: center;
  padding-top: 10px;
  height: 132px;
  background: url("/themes/swift/img/custom/4-bg-slider.svg") top center no-repeat; }
  .homeslider-description h2 {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 21px; }
  .homeslider-description h1 {
    margin-top: 0px;
    font-weight: 700;
    font-size: 26px; }
  .homeslider-description p {
    font-size: 16px; }

footer .firstLine {
  background: linear-gradient(90deg, #1B2845 0, #1B2845 23%, #fff 0, #fff); }
footer .leftSide {
  background: url("/themes/swift/img/custom/5-bg-footer.svg") top left no-repeat;
  height: 67px;
  float: left;
  width: 50%; }
footer .secondLine {
  background: #1B2845 url("/themes/swift/img/custom/7-bg-footer.png") top left repeat-x; }
footer .rightSide {
  float: right; }
  footer .rightSide .paymentsMethod {
    margin-top: 5px; }

#search_block_top #search_query_top {
  font-style: italic; }

.footer-container #footer #social_block {
  float: left;
  width: 100%;
  padding: 16px 15px 0 0px;
  color: #fff; }

.footer-container #footer #social_block h4 {
  float: left;
  font-size: 15px;
  margin-top: 6px; }

.footer-container #footer #social_block ul {
  float: left; }

.footer-container #footer #social_block ul li a {
  display: inline-block;
  color: #fff;
  font-size: 19px;
  text-shadow: none; }

.footer-container #footer #social_block ul li {
  float: left;
  width: 35px;
  height: 35px;
  background: #fff;
  margin-right: 10px;
  text-align: center;
  border-radius: 100%;
  padding-top: 2px; }
  .footer-container #footer #social_block ul li.facebook {
    background: #45619D; }
  .footer-container #footer #social_block ul li.twitter {
    background: #55ACEE; }
  .footer-container #footer #social_block ul li.rss {
    background: #F5A623; }
  .footer-container #footer #social_block ul li.google-plus {
    background: #d34836; }

.footer-container .container {
  padding-bottom: 0px; }

.footer-container #footer {
  color: #fff; }

.footer-container #footer h4 {
  font-weight: 700;
  margin-bottom: 50px; }

.footer-container #footer .footer-block {
  margin-top: 42px;
  margin-bottom: 30px;
  float: left; }

.footer-container #footer ul li a {
  font-weight: 500;
  text-shadow: none;
  color: #fff;
  font-size: 14px; }

.footer-container #footer .blockcategories_footer ul li a::before, .footer-container #footer #block_various_links_footer ul li a::before, .footer-container #footer ul li a::before {
  content: "\f105";
  font: normal normal normal 14px/1 FontAwesome;
  margin-right: 3px;
  color: #fff;
  transition: 0.6s; }

.footer-container #footer .blockcategories_footer ul li a:hover::before, .footer-container #footer #block_various_links_footer ul li a:hover::before, .footer-container #footer ul li a:hover::before {
  content: "\f105";
  font: normal normal normal 14px/1 FontAwesome;
  margin-right: 8px;
  color: #fff;
  transition: 0.6s; }

.footer-container #footer #block_contact_infos {
  border-left: none; }

#block_contact_infos .phone {
  font-size: 26px;
  font-weight: 300;
  float: left; }
#block_contact_infos .date {
  margin-top: 30px;
  font-size: 13px;
  float: left;
  font-weight: 500; }
#block_contact_infos .titleMail {
  font-size: 15px;
  float: left;
  text-transform: uppercase;
  font-weight: 700; }
#block_contact_infos .email {
  font-size: 16px;
  font-weight: 400;
  float: left;
  margin-top: 5px; }

.footer-container #footer ul li {
  padding-bottom: 8px;
  float: left;
  width: 100%; }

#newsletter_block_left {
  width: 100%; }
  #newsletter_block_left .icon {
    float: left;
    margin-top: 0px; }
  #newsletter_block_left p {
    margin: 15px 0;
    width: 100%;
    float: left; }
  #newsletter_block_left .copy {
    float: right;
    font-size: 13px;
    margin-top: 30px; }

#footer #newsletter_block_left .form-group .form-control {
  height: 39px;
  background: #fff;
  border-color: #fff;
  color: #4A4A4A;
  font-style: italic;
  border-radius: 8px;
  padding: 10px 43px 10px 12px;
  display: inline-block;
  float: left;
  width: 100%; }

#footer #newsletter_block_left .form-group .button-small {
  margin-left: -43px;
  border: none;
  background: none;
  text-align: center;
  color: #1b2845;
  padding: 8px;
  text-shadow: none; }

#footer #newsletter_block_left .form-group .button-small:before {
  content: "\f138";
  font-family: "FontAwesome";
  font-size: 21px;
  line-height: 23px; }

#footer #newsletter_block_left .form-group {
  margin-bottom: 0;
  float: left;
  width: 100%; }

.columns-container {
  clear: both; }

#home-page-tabs {
  background: url("/themes/swift/img/custom/9-title-bg.svg") top left no-repeat;
  margin: 0px;
  padding: 0px; }

.nav-tabsProduct {
  background: url("/themes/swift/img/custom/14-title-bg.svg") top left no-repeat;
  margin: 0px;
  padding: 0px; }

#home-page-tabs > li.active a, #home-page-tabs > li a:hover {
  background: transparent;
  border-bottom: 2px solid #ffffff; }

.nav-tabsProductProduct > li.active a, .nav-tabsProductProduct > li a:hover {
  background: transparent;
  border-bottom: 2px solid #ffffff; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', sans-serif; }

*:focus {
  box-shadow: none !important; }

* {
  text-shadow: none; }

.leftInfo {
  color: #fff; }

.leftInfo span {
  float: left;
  padding: 9px 15px 0px 0px;
  font-size: 13px;
  font-weight: 600; }

.header_user_info a {
  color: #fff;
  font-weight: 600;
  display: block;
  padding: 9px 9px 8px 8px; }

.header_user_info a:hover, .header_user_info a.active {
  background: transparent;
  text-decoration: underline; }

.header_user_info {
  border: none; }

.header_user_info span {
  float: left; }

.bgHead {
  background: linear-gradient(90deg, #fff 0, #fff 23%, #1B2845 0, #1B2845);
  box-shadow: 0px 3px 7px 0px rgba(87, 87, 87, 0.18); }

#header_logo {
  background: url("/themes/swift/img/custom/1-bg-shape.svg") top right no-repeat;
  height: 67px; }

#header_logo .logo {
  position: absolute;
  z-index: 9; }

#search_block_top {
  padding-top: 5px; }

#search_block_top #search_query_top {
  background: #fff;
  margin-right: 1px;
  border-radius: 5px;
  border: none; }

#search_block_top .btn.button-search {
  background: transparent; }

#search_block_top .btn.button-search:before {
  color: #1B2845; }

#search_block_top .btn.button-search:hover {
  background: #d8d8d8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

#search_block_top #searchbox {
  float: left;
  width: 340px; }

#search_block_top {
  float: left; }

#search_block_top .ts {
  float: right; }

.blockCartTop {
  float: right; }

#search_block_top {
  width: 400px; }

header .row #header_logo {
  width: 45.33333%; }

.rightSide {
  float: right; }

#header .shopping_cart {
  width: auto;
  padding-top: 1px;
  transition: 1s;
  min-width: 160px; }

#header .shopping_cart .cartDesc {
  color: #fff;
  margin-right: 10px;
  float: left; }

#header .shopping_cart .cartImg {
  float: left;
  margin-top: 3px;
  margin-right: 15px; }

#header .shopping_cart .lineOne {
  float: left;
  font-size: 16px;
  font-weight: 400; }

#header .shopping_cart .lineTwo {
  float: left;
  font-size: 12px;
  font-weight: 600;
  clear: both; }

.shopping_cart > a:first-child:before {
  display: none; }

#header .shopping_cart .button.button-small {
  text-shadow: none;
  color: #fff !important; }

dl.products {
  margin-bottom: 0px; }

.navFull {
  background: #fff; }

.sf-menu > li:nth-last-child(-n+2) {
  float: right; }

.sf-menu > li > a.sf-with-ul:after {
  content: "\f0d7";
  font-family: "FontAwesome";
  display: inline-block;
  float: right;
  font-size: 12px;
  color: #3772FF;
  padding: 0px 0 0 6px; }

.sf-menu > li > ul {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-radius: 5px; }

header .row #header_logo {
  padding-top: 11px; }

.homeslider-description {
  color: #fff;
  text-align: center;
  padding-top: 10px;
  height: 132px;
  background: url("/themes/swift/img/custom/4-bg-slider.svg") top center no-repeat; }

.homeslider-description h2 {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 21px; }

.homeslider-description h1 {
  margin-top: 0px;
  font-weight: 700;
  font-size: 26px; }

.homeslider-description p {
  font-size: 16px; }

.bx-controls {
  z-index: 9999999 !important; }

.bx-pager {
  position: absolute !important;
  bottom: 17px !important;
  width: auto !important;
  right: 42px !important; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff !important;
  opacity: 0.8; }

.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #fff !important;
  opacity: 1; }

.bx-viewport {
  z-index: 0; }

#homepage-slider .bx-wrapper .bx-controls-direction a.bx-prev {
  left: 0px;
  bottom: 3px;
  border: none;
  opacity: 0.7;
  background: none; }

#homepage-slider .bx-wrapper .bx-controls-direction a.bx-prev:hover {
  opacity: 1; }

#homepage-slider .bx-wrapper .bx-controls-direction a.bx-prev:before {
  background: none; }

#homepage-slider .bx-wrapper .bx-controls-direction a.bx-next {
  right: 0px;
  bottom: 3px;
  border: none;
  opacity: 0.7;
  background: none; }

#homepage-slider .bx-wrapper .bx-controls-direction a.bx-next:before {
  background: none; }

#homepage-slider .bx-wrapper .bx-controls-direction a.bx-next:hover {
  opacity: 1; }

footer .firstLine {
  background: linear-gradient(90deg, #1B2845 0, #1B2845 23%, #fff 0, #fff); }

footer .leftSide {
  background: url("/themes/swift/img/custom/5-bg-footer.svg") top left no-repeat;
  height: 67px;
  float: left;
  width: 50%; }

footer .secondLine {
  background: #1B2845 url("/themes/swift/img/custom/7-bg-footer.png") top left repeat-x; }

footer .rightSide {
  float: right; }

footer .rightSide .paymentsMethod {
  margin-top: 5px; }

.footer-container #footer #social_block {
  float: left;
  width: 100%;
  padding: 16px 15px 0 0px;
  color: #fff; }

.footer-container #footer #social_block h4 {
  float: left;
  font-size: 15px;
  margin-top: 6px; }

.footer-container #footer #social_block ul {
  float: left; }

.footer-container #footer #social_block ul li a {
  display: inline-block;
  color: #fff;
  font-size: 19px;
  text-shadow: none; }

.footer-container #footer #social_block ul li {
  float: left;
  width: 35px;
  height: 35px;
  background: #fff;
  margin-right: 10px;
  text-align: center;
  border-radius: 100%;
  padding-top: 2px; }

.footer-container #footer #social_block ul li.facebook {
  background: #45619D; }

.footer-container #footer #social_block ul li.twitter {
  background: #55ACEE; }

.footer-container #footer #social_block ul li.rss {
  background: #F5A623; }

.footer-container #footer #social_block ul li.google-plus {
  background: #d34836; }

.footer-container .container {
  padding-bottom: 0px; }

.footer-container #footer {
  color: #fff; }

.footer-container #footer h4 {
  font-weight: 700;
  margin-bottom: 50px; }

.footer-container #footer .footer-block {
  margin-top: 42px;
  margin-bottom: 30px;
  float: left; }

.footer-container #footer ul li a {
  font-weight: 500;
  text-shadow: none;
  color: #fff;
  font-size: 14px; }

.footer-container #footer .blockcategories_footer ul li a::before, .footer-container #footer #block_various_links_footer ul li a::before, .footer-container #footer ul li a::before {
  content: "\f105";
  font: normal normal normal 14px/1 FontAwesome;
  margin-right: 3px;
  color: #fff;
  transition: 0.6s; }

.footer-container #footer .blockcategories_footer ul li a:hover::before, .footer-container #footer #block_various_links_footer ul li a:hover::before, .footer-container #footer ul li a:hover::before {
  content: "\f105";
  font: normal normal normal 14px/1 FontAwesome;
  margin-right: 8px;
  color: #fff;
  transition: 0.6s; }

.footer-container #footer #block_contact_infos {
  border-left: none; }

#block_contact_infos .phone {
  font-size: 26px;
  font-weight: 300;
  float: left; }

#block_contact_infos .date {
  margin-top: 30px;
  font-size: 13px;
  float: left;
  font-weight: 500; }

#block_contact_infos .titleMail {
  font-size: 15px;
  float: left;
  text-transform: uppercase;
  font-weight: 700; }

#block_contact_infos .email {
  font-size: 16px;
  font-weight: 400;
  float: left;
  margin-top: 5px; }

.footer-container #footer ul li {
  padding-bottom: 8px;
  float: left;
  width: 100%; }

#newsletter_block_left {
  width: 100%; }

#newsletter_block_left .icon {
  float: left;
  margin-top: 0px; }

#newsletter_block_left p {
  margin: 15px 0;
  width: 100%;
  float: left; }

#newsletter_block_left .copy {
  float: right;
  font-size: 13px;
  margin-top: 30px; }

#footer #newsletter_block_left .form-group .form-control {
  height: 39px;
  background: #fff;
  border-color: #fff;
  color: #4A4A4A;
  font-style: italic;
  border-radius: 8px;
  padding: 10px 43px 10px 12px;
  display: inline-block;
  float: left;
  width: 100%; }

#footer #newsletter_block_left .form-group .button-small {
  margin-left: -43px;
  border: none;
  background: none;
  text-align: center;
  color: #1b2845;
  padding: 8px;
  text-shadow: none; }

#footer #newsletter_block_left .form-group .button-small:before {
  content: "\f138";
  font-family: "FontAwesome";
  font-size: 21px;
  line-height: 23px; }

#footer #newsletter_block_left .form-group {
  margin-bottom: 0;
  float: left;
  width: 100%; }

.columns-container {
  clear: both; }

#home-page-tabs {
  background: url("/themes/swift/img/custom/9-title-bg.svg") top left no-repeat;
  margin: 0px;
  height: 43px;
  float: left;
  width: 100%;
  clear: both; }

.nav-tabsProduct {
  background: url("/themes/swift/img/custom/14-title-bg.svg") top left no-repeat;
  margin: 0px;
  height: 43px;
  float: left;
  width: 100%;
  clear: both; }

#home-page-tabs > li a {
  color: #fff;
  padding: 11px;
  opacity: 0.65;
  padding: 10px 0 0 0; }

.nav-tabsProduct > li a {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  opacity: 0.65;
  padding: 11px 0 0 0; }

#home-page-tabs > li.active a {
  margin: 0px;
  background: transparent;
  color: #fff;
  opacity: 1; }

.nav-tabsProduct > li.active a {
  margin: 0px;
  background: transparent;
  color: #fff;
  opacity: 1; }

#home-page-tabs > li a:hover {
  border: none;
  color: #fff;
  margin: 0px;
  opacity: 1; }

.nav-tabsProduct > li a:hover {
  border: none;
  color: #fff;
  margin: 0px;
  opacity: 1; }

#home-page-tabs > li.active a:hover {
  border: none;
  color: #fff;
  margin: 0px;
  border-bottom: 2px solid #ffffff;
  opacity: 1; }

.nav-tabsProduct > li.active a:hover {
  border: none;
  color: #fff;
  margin: 0px;
  border-bottom: 2px solid #ffffff;
  opacity: 1; }

.nav-tabsProduct > li.active a {
  border: none;
  color: #fff;
  margin: 0px;
  border-bottom: 2px solid #ffffff;
  opacity: 1; }

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  opacity: 1;
  background: none; }

#home-page-tabs > li {
  border-left: none;
  margin-left: 10px; }

.nav-tabsProduct > li {
  border-left: none;
  margin-left: 10px;
  float: left;
  margin-right: 10px; }

.footer-container #footer #block_contact_infos > div ul li {
  padding: 0px;
  overflow: hidden;
  line-height: initial; }

#pack ul.product_list.grid > li .product-container .right-block h5 {
  height: 67px; }

.new-box {
  left: 0px;
  top: 0px; }

.new-label {
  font: 700 11px/12px Lato, Helvetica, sans-serif;
  color: #fff;
  background: #4A90E2;
  text-transform: uppercase;
  padding: 5px 0 4px;
  text-shadow: none;
  width: 130px;
  text-align: center;
  display: block;
  font-weight: 600;
  position: absolute;
  left: -38px;
  top: 16px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.sale-label {
  font: 700 11px/12px Lato, Helvetica, sans-serif;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 0 4px;
  text-shadow: none;
  width: 130px;
  text-align: center;
  display: block;
  right: -35px;
  top: 19px;
  font-weight: 600;
  position: absolute;
  z-index: 1; }

.sale-label:before {
  border: none; }

.product-name {
  font-size: 14px;
  line-height: 18px;
  color: #4a4a4a;
  margin-bottom: 0; }

.price.product-price {
  color: #4a4a4a; }

.price {
  float: left;
  color: #458BFF;
  line-height: 16px;
  text-align: left;
  font: 600 16px/16px "Source Sans Pro", Helvetica, sans-serif; }

.new-label:before {
  display: none; }

.new-label:after {
  display: none; }

.block .products-block .product-name {
  font-size: 13px;
  line-height: 18px; }

.block .products-block .product-description {
  margin-bottom: 14px;
  display: none; }

.block .products-block li {
  padding: 0 0 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #E0E0E1;
  padding: 0 15px 19px 15px; }

.block ul.products {
  margin-top: 18px; }

.products-block ul {
  margin-top: 18px; }

.cart_block .cart-info .quantity-formated .quantity {
  float: left;
  font-size: 12px; }

ul.product_list.grid > li .product-container .price-percent-reduction {
  margin-bottom: 0px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  top: auto;
  font-size: 15px;
  font-weight: 800;
  padding: 3px 9px;
  border-radius: 14px; }
ul.product_list.grid > li .product-container .left-block {
  border: 1px solid #1B2845;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin: 0px 3px 0 3px;
  background: #fff; }
ul.product_list.grid > li .product-container .right-block {
  border: 3px solid #1B2845;
  margin-top: -3px;
  border-radius: 3px 3px 5px 5px;
  float: left;
  width: 100%; }
  ul.product_list.grid > li .product-container .right-block h5 {
    background: #1B2845;
    padding: 10px 15px;
    color: #fff;
    height: 57px;
    margin: 0px; }
    ul.product_list.grid > li .product-container .right-block h5 a {
      color: #fff;
      font-size: 12px;
      font-weight: 600;
      line-height: 17px; }
  ul.product_list.grid > li .product-container .right-block .showFirst .leftSide, ul.product_list.grid > li .product-container .right-block .showSecond .leftSide {
    float: left; }
    ul.product_list.grid > li .product-container .right-block .showFirst .leftSide .content_price, ul.product_list.grid > li .product-container .right-block .showSecond .leftSide .content_price {
      color: #101826;
      font-size: 15px;
      font-weight: 600;
      float: left;
      text-align: left; }
      ul.product_list.grid > li .product-container .right-block .showFirst .leftSide .content_price .priceLine, ul.product_list.grid > li .product-container .right-block .showSecond .leftSide .content_price .priceLine {
        float: left;
        height: 19px; }
      ul.product_list.grid > li .product-container .right-block .showFirst .leftSide .content_price .price, ul.product_list.grid > li .product-container .right-block .showSecond .leftSide .content_price .price {
        float: left;
        color: #458BFF;
        line-height: 16px;
        text-align: left; }
      ul.product_list.grid > li .product-container .right-block .showFirst .leftSide .content_price .old-price, ul.product_list.grid > li .product-container .right-block .showSecond .leftSide .content_price .old-price {
        font-size: 12px;
        color: #D0021B;
        text-align: left;
        margin: 0px;
        padding: 0px;
        margin-left: 2px;
        position: relative;
        top: 0px; }
      ul.product_list.grid > li .product-container .right-block .showFirst .leftSide .content_price .brutto, ul.product_list.grid > li .product-container .right-block .showSecond .leftSide .content_price .brutto {
        float: left;
        clear: both;
        width: 100%;
        text-align: left; }
  ul.product_list.grid > li .product-container .right-block .showFirst .rightSide, ul.product_list.grid > li .product-container .right-block .showSecond .rightSide {
    float: right;
    margin-top: 10px; }
    ul.product_list.grid > li .product-container .right-block .showFirst .rightSide a.ajax_add_to_cart_button, ul.product_list.grid > li .product-container .right-block .showSecond .rightSide a.ajax_add_to_cart_button {
      float: right; }
    ul.product_list.grid > li .product-container .right-block .showFirst .rightSide span, ul.product_list.grid > li .product-container .right-block .showSecond .rightSide span {
      font-size: 11px;
      color: #101826;
      font-weight: 600;
      padding: 0px 6px 0 0;
      float: left; }

.ajax_add_to_cart_button img {
  float: right;
  margin-top: 2px; }

#product .topMore .breadcrumb .navigation_page span:last-child {
  width: 0px; }

#product .topMore .breadcrumb .navigation_page span:nth-last-child(-n+2) a {
  background: #f6f6f6;
  padding-right: 0px; }
  #product .topMore .breadcrumb .navigation_page span:nth-last-child(-n+2) a:after {
    display: none; }
  #product .topMore .breadcrumb .navigation_page span:nth-last-child(-n+2) a:before {
    background: #fff; }

#product .topMore .breadcrumb .navigation_page span:nth-last-child(-n+3) a {
  margin-right: 5px; }

.cart_block .cart-info .quantity-formated {
  color: #333;
  font-size: 12px;
  float: left;
  display: inline;
  text-transform: initial; }

.cart_block .cart-info .product-name a {
  font-size: 12px;
  display: inline;
  line-height: initial; }

.heading-counter {
  display: none; }

.ul.product_list.grid > li .product-container .right-block .showFirst .rightSide span {
  font-size: 11px; }

.pb-left-column #image-block img {
  max-width: 740px; }

.cart_block .cart-info .quantity-formated {
  padding-right: 3px; }

#columns {
  padding-top: 30px; }

ul.product_list.grid > li .product-container .product-image-container {
  border: none;
  padding: 30px; }

#home-page-tabs {
  margin-left: 0px; }

.nav-tabsProduct {
  margin-left: 0px; }

.button-containerr {
  padding: 15px 15px 11px 15px;
  float: left;
  width: 100%;
  height: 66px; }

.button.lnk_view {
  border: none;
  background: #4A4A4A;
  background-image: none;
  border-radius: 9px;
  text-shadow: none;
  color: #fff;
  padding: 0px; }

.button.lnk_view:hover {
  border: none;
  background: #333333;
  background-image: none;
  border-radius: 9px;
  text-shadow: none;
  color: #fff;
  padding: 0px; }

.button.lnk_view span {
  border: none;
  padding: 8px 14px;
  background: none;
  background-image: none;
  border-radius: none;
  font-size: 14px;
  font-weight: 600;
  text-shadow: none;
  color: #fff; }

.button.lnk_view:hover span {
  border: none;
  background: none;
  background-image: none;
  padding: 8px 14px;
  border-radius: none;
  font-size: 14px;
  font-weight: 600;
  text-shadow: none;
  color: #fff; }

.button.ajax_add_to_cart_button {
  float: right; }

.button.ajax_add_to_cart_button span {
  border: none;
  padding: 8px 14px;
  background: none;
  background-image: none;
  font-size: 14px;
  font-weight: 600;
  border-radius: none;
  text-shadow: none;
  color: #fff; }

.button.ajax_add_to_cart_button:hover span {
  border: none;
  padding: 8px 14px;
  background: none;
  background-image: none;
  font-size: 14px;
  font-weight: 600;
  border-radius: none;
  text-shadow: none;
  color: #fff; }

#image-block {
  border-radius: 9px; }

.price-percent-reduction {
  background: #f13340;
  border: none;
  font: 600 15px/22px "Lato", sans-serif;
  color: #fff;
  padding: 0 5px 0 3px;
  display: inline-block;
  position: relative;
  top: -1px;
  border-radius: 5px;
  margin-left: 5px; }

.old-price {
  color: #f13340;
  text-decoration: line-through; }

ul.step li.step_current span {
  border-color: #3772FF;
  color: #fff;
  text-shadow: none; }

ul.step li.step_current {
  background: #3772FF !important;
  border-color: #3772FF; }

ul.step li.step_todo {
  background: #1B2845 !important;
  border-color: #1B2845; }
  ul.step li.step_todo span {
    border-color: #1B2845;
    color: #fff;
    text-shadow: none; }

ul.step li.step_done {
  background: #3772FF !important;
  border-color: #3772FF; }
  ul.step li.step_done a {
    border-color: #3772FF;
    color: #fff;
    text-shadow: none; }

.form-control {
  border: 1px solid #d6d4d4 !important; }

ul.step li a:after, ul.step li span:after, ul.step li.step_current span:after, ul.step li.step_current_end span:after {
  right: -27px; }

li.ajax_block_product .showSecond, li.product-box .showSecond {
  float: right;
  margin-top: 9px;
  margin: 0px;
  width: 100%; }
  li.ajax_block_product .showSecond span, li.product-box .showSecond span {
    font-size: 12px;
    color: #101826;
    font-weight: 600;
    padding: 0;
    padding-top: 19px;
    display: block; }
  li.ajax_block_product .showSecond ul, li.product-box .showSecond ul {
    margin: 0px;
    padding: 0px; }
    li.ajax_block_product .showSecond ul li, li.product-box .showSecond ul li {
      float: left;
      width: 33%;
      text-align: center; }
      li.ajax_block_product .showSecond ul li a, li.product-box .showSecond ul li a {
        float: left;
        width: 100%; }
      li.ajax_block_product .showSecond ul li a:hover span, li.product-box .showSecond ul li a:hover span {
        color: #3772FF; }
      li.ajax_block_product .showSecond ul li a.checked, li.product-box .showSecond ul li a.checked {
        opacity: 0.6; }
      li.ajax_block_product .showSecond ul li img, li.product-box .showSecond ul li img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 3px;
        padding-top: 2px; }

li.ajax_block_product .showFirst, li.product-box .showFirst {
  display: block; }
li.ajax_block_product .showSecond, li.product-box .showSecond {
  display: none; }
li.ajax_block_product img, li.product-box img {
  display: block; }
li.ajax_block_product img.first, li.product-box img.first {
  display: block; }
li.ajax_block_product img.second, li.product-box img.second {
  display: none; }
li.ajax_block_product:hover .showFirst, li.product-box:hover .showFirst {
  display: none; }
li.ajax_block_product:hover .showSecond, li.product-box:hover .showSecond {
  display: block; }
li.ajax_block_product:hover img.first, li.product-box:hover img.first {
  display: none;
  transition: 2s; }
li.ajax_block_product:hover img.second, li.product-box:hover img.second {
  display: block;
  transition: 2s; }

#manufacturers_list.list li h3, #suppliers_list.list li h3 {
  margin-top: 34px; }

#manufacturers_list.list li:first-child .mansup-container, #suppliers_list.list li:first-child .mansup-container {
  border-top: 1px solid #E0E0E1; }

#cart_summary tbody td.cart_avail span {
  white-space: inherit;
  line-height: inherit; }

.topMore .breadcrumb a {
  margin-right: 5px; }

.pack_price {
  float: left;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 12px;
  text-transform: capitalize; }
  .pack_price span {
    font-size: 14px; }

ul.list li.ajax_block_product {
  border-bottom: 1px solid #e0e0e1;
  padding-bottom: 15px;
  margin-bottom: 15px !important; }
  ul.list li.ajax_block_product .product-name {
    font-size: 16px;
    line-height: 18px;
    color: #1b2845;
    margin-bottom: 0; }
  ul.list li.ajax_block_product h5 {
    padding-bottom: 8px;
    float: left;
    width: 100%; }
  ul.list li.ajax_block_product .content_price {
    color: #101826;
    font-size: 15px;
    font-weight: 600;
    float: left;
    margin-top: 40px;
    text-align: left; }
    ul.list li.ajax_block_product .content_price .priceLine {
      float: left;
      height: 19px; }
    ul.list li.ajax_block_product .content_price .price {
      float: left;
      color: #458BFF;
      line-height: 16px;
      text-align: left; }
    ul.list li.ajax_block_product .content_price .old-price {
      font-size: 12px;
      color: #D0021B;
      text-align: left;
      margin: 0px;
      padding: 0px;
      margin-left: 7px;
      position: relative;
      top: -3px; }
    ul.list li.ajax_block_product .content_price .brutto {
      float: left;
      clear: both;
      width: 100%;
      text-align: left; }
  ul.list li.ajax_block_product .showSecond {
    display: block;
    margin-top: 43px; }

ul.product_list.grid > li .product-container .right-block .showFirst .rightSide a.ajax_add_to_cart_button.disabled {
  opacity: 0.6; }

.showSecond .add_to_compare {
  background: url("/themes/swift/img/custom/11-icon-product.svg") top center no-repeat; }
  .showSecond .add_to_compare:hover {
    background: url("/themes/swift/img/custom/11-icon-product-hover.svg") top center no-repeat; }
.showSecond .ajax_add_to_cart_button {
  background: url("/themes/swift/img/custom/10-icon-product.svg") top center no-repeat; }
  .showSecond .ajax_add_to_cart_button:hover {
    background: url("/themes/swift/img/custom/10-icon-product-hover.svg") top center no-repeat; }
.showSecond .choose {
  background: url("/themes/swift/img/custom/19-icon-product.svg") top center no-repeat; }
  .showSecond .choose:hover {
    background: url("/themes/swift/img/custom/19-icon-product-hover.svg") top center no-repeat; }
.showSecond .ajax_add_to_cart_button.disabled {
  background: url("/themes/swift/img/custom/10-icon-product.svg") top center no-repeat;
  opacity: 0.6;
  cursor: default; }
  .showSecond .ajax_add_to_cart_button.disabled:hover {
    background: url("/themes/swift/img/custom/10-icon-product-hover.svg") top center no-repeat;
    opacity: 0.6; }
.showSecond #wishlist_button_nopop, .showSecond .addToWishlist {
  background: url("/themes/swift/img/custom/12-icon-product.svg") top center no-repeat; }
  .showSecond #wishlist_button_nopop:hover, .showSecond .addToWishlist:hover {
    background: url("/themes/swift/img/custom/12-icon-product-hover.svg") top center no-repeat; }

ul.product_list.list > li .right-block .right-block-content {
  margin: 0;
  border-left: 1px solid #E0E0E1;
  padding-left: 15px;
  padding-bottom: 16px;
  min-height: 120px; }

.sale-box {
  right: 0px;
  top: 0px; }

ul.product_list .color-list-container {
  margin-bottom: 0px;
  position: absolute;
  bottom: 5px;
  right: 15px; }

ul.product_list .color-list-container ul li {
  display: inline-block;
  border: 0px;
  width: auto;
  height: auto; }

ul.product_list .color-list-container ul li a {
  display: block;
  width: 13px;
  height: 13px;
  margin: 1px;
  border-radius: 100%; }

#blocknewproductscontent, #homefeaturedcontent {
  display: none; }

.tab-content > .active, .pill-content > .active {
  display: block !important; }

#index .tab-content {
  margin-top: 20px;
  margin-bottom: 30px;
  float: left;
  width: 100%; }

#htmlcontent_home ul {
  margin: 0px; }

.htmlcontent-home li {
  float: left;
  padding: 0px !important;
  margin-bottom: 15px !important; }
.htmlcontent-home li.htmlcontent-item-1 {
  width: 46.3%; }
.htmlcontent-home li.htmlcontent-item-2 {
  width: 19.6%;
  margin-left: 13px; }
.htmlcontent-home li.htmlcontent-item-3 {
  width: 31.8%;
  float: right; }
.htmlcontent-home li.htmlcontent-item-4 {
  width: 46.3%; }
.htmlcontent-home li.htmlcontent-item-5 {
  width: 52.6% !important;
  float: right; }

.footer-themeconfigurator ul {
  margin: 0px; }
.footer-themeconfigurator li.htmlcontent-item-1 {
  width: 100%; }

#center_column .title_block {
  background: url("/themes/swift/img/custom/13-bg-block.svg") top left no-repeat;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  text-transform: none;
  margin: 0px;
  padding: 10px 0 0 10px;
  border: none; }

#mypresta_mib {
  margin-bottom: 45x;
  float: left;
  width: 100%;
  clear: both; }
  #mypresta_mib .manuContent {
    width: 100%;
    float: left;
    border: 4px solid #1B2845;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; }
  #mypresta_mib .item-link {
    float: left; }
  #mypresta_mib ul {
    float: right;
    margin: 0px;
    padding: 0px;
    width: 76.2%; }
    #mypresta_mib ul li {
      width: 33.3333333333%;
      float: left;
      text-align: center;
      border: 1px solid #D8D8D8;
      height: 120px; }
      #mypresta_mib ul li .img-responsive {
        display: inherit;
        height: 115px;
        margin-top: 1px; }
    #mypresta_mib ul li:nth-child(1) {
      border-left: none; }
    #mypresta_mib ul li:nth-child(4) {
      border-left: none; }
    #mypresta_mib ul li:nth-child(3) {
      border-right: none; }
    #mypresta_mib ul li:nth-child(6) {
      border-right: none; }

.footer-container #footer #block_contact_infos > div ul li > span, .footer-container #footer #block_contact_infos > div ul li > span a {
  color: #fff;
  font-weight: normal;
  float: left;
  clear: both; }

#footer #newsletter_block_left .form-group .button-small:hover {
  color: #4a5c82 !important; }

ul.bxslider-hometabsnew.product_list.grid > li.first-in-line, ul.bxslider-hometabsnew.product_list.grid > li.first-item-of-tablet-line {
  clear: none; }

ul.bxslider-hometabsfeatured.product_list.grid > li.first-in-line, ul.bxslider-hometabsfeatured.product_list.grid > li.first-item-of-tablet-line {
  clear: none; }

@media only screen and (max-width: 1199px) {
  footer .rightSide {
    display: none; }

  ul.product_list .product-image-container .quick-view-wrapper-mobile {
    display: block;
    background-color: transparent;
    height: 155px;
    width: 215px;
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    bottom: -11px;
    right: 0px; }

  ul.product_list.grid > li .product-container .right-block .showFirst .rightSide span, ul.product_list.grid > li .product-container .right-block .showSecond .rightSide span {
    display: none; }

  #mypresta_mib .item-link {
    float: left;
    width: 23.8%; }

  #mypresta_mib ul li {
    width: 33.3333333333%;
    height: 96px; }

  #mypresta_mib ul li .img-responsive {
    display: inherit;
    height: 69px;
    margin-top: 15px; }

  header .row #header_logo {
    width: 41.33333%; }

  #header_logo .logo {
    max-width: 55%; }

  .bgHead {
    background: linear-gradient(90deg, #fff 0, #fff 13%, #1B2845 0, #1B2845); }

  footer .leftSide {
    width: 100%; } }
#index li.ajax_block_product .showSecond ul li {
  float: left;
  width: 50%;
  text-align: center; }

#layer_cart {
  left: 0px;
  border-radius: 5px; }

#layer_cart .layer_cart_product .product-image-container {
  border: none; }

#layer_cart .layer_cart_product .title {
  display: block;
  font: 400 19px/29px "Source Sans Pro", Helvetica, sans-serif;
  color: #1B2845;
  margin-bottom: 22px; }

#layer_cart .layer_cart_cart .layer_cart_row {
  font-size: 14px; }

.button.exclusive-medium {
  font-size: 15px;
  padding: 0;
  line-height: 21px;
  color: #1b2845;
  font-weight: bold;
  border: none;
  text-shadow: none;
  background: #1b2845;
  color: #fff;
  font-weight: 600;
  border-radius: 5px; }

span.exclusive-medium i {
  padding-right: 5px;
  color: #fff; }

#layer_cart .layer_cart_cart .button-container span.exclusive-medium i {
  padding-right: 5px;
  color: #fff; }

.button.exclusive-medium span {
  border: none;
  border-color: #fff;
  display: block;
  padding: 9px 10px 11px 10px;
  background: none;
  background-repeat: repeat-x; }

.button.exclusive-medium:hover {
  background: #141d33;
  transition: 0.6s; }

.button.exclusive-medium {
  transition: 0.6s; }

.button.button-medium.exclusive {
  font-size: 15px;
  line-height: 21px;
  color: #fff;
  transition: 0.6s;
  padding: 0;
  font-weight: 600;
  background: #1B2845;
  border: none;
  border-radius: 5px; }
  .button.button-medium.exclusive span {
    border: none;
    padding: 6px 8px 6px 8px; }
  .button.button-medium.exclusive:hover {
    background: #0d1320;
    transition: 0.6s; }
    .button.button-medium.exclusive:hover span {
      border: none; }

.button.button-small {
  font-size: 13px;
  line-height: 25px;
  color: #fff;
  transition: 0.6s;
  padding: 0;
  font-weight: 600;
  background: #1B2845;
  border: none;
  border-radius: 5px; }
  .button.button-small span {
    border: none;
    padding: 3px 15px 3px 15px; }
  .button.button-small:hover {
    background: #141d33;
    transition: 0.6s; }
    .button.button-small:hover span {
      border: none;
      background: none; }

.block .button.button-small {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px; }

#viewed-products_block_left li.last_item {
  margin-bottom: 20px; }

.cat-title {
  border-radius: 9px;
  margin: 10px; }

.cat-title:hover {
  background: #dcdee2;
  border: none;
  color: #1b2845;
  border-radius: 9px;
  margin: 10px; }

#layered_block_left .layered_filter {
  border-bottom: none; }
#layered_block_left .nomargin a {
  display: inline;
  font-size: 12px;
  color: #383838;
  font-weight: 600; }
#layered_block_left div.checker, #layered_block_left .color-option {
  position: relative;
  top: 3px; }
#layered_block_left .layered_subtitle {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  color: #383838;
  font-weight: 600;
  margin: 7px 10px; }
#layered_block_left #availability_value {
  margin-left: 0px;
  color: #fff; }
#layered_block_left #enabled_filters {
  margin: 0 0 10px 0;
  background: rgba(245, 255, 88, 0.28); }
  #layered_block_left #enabled_filters ul {
    border: none;
    border-radius: 5px;
    background: #fff; }
#layered_block_left .color-option {
  margin-left: 0;
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  border-radius: 100%; }
#layered_block_left .ui-state-default, #layered_block_left .ui-widget-content .ui-state-default, #layered_block_left .ui-widget-header .ui-state-default {
  border: none;
  background: #3772FF;
  border-radius: 100%; }
#layered_block_left label {
  margin-left: 4px; }
#layered_block_left ul {
  background: #F7F8FA;
  border-top: 1px solid #E0E0E1;
  border-bottom: 1px solid #E0E0E1;
  padding: 10px 10px 5px 10px; }

.topMore {
  background: #F0F0F0;
  padding: 12px 0 11px 0;
  border-top: 1px solid #E0E0E1;
  border-bottom: 1px solid #E0E0E1;
  max-height: 60px; }
  .topMore .breadcrumb {
    display: inline-block;
    padding: 0 11px;
    border: 1px solid #E0E0E1;
    font-weight: bold;
    font-size: 14px;
    font-weight: 600;
    color: #383838;
    line-height: 33px;
    min-height: 6px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
    float: left; }
  .topMore .heading-counter {
    float: left;
    margin: 9px 0px 0px 10px;
    color: #383838;
    font-size: 14px;
    font-weight: 600;
    font-style: italic; }
  .topMore .breadcrumb a:before {
    display: inline-block;
    content: ".";
    position: absolute;
    left: -10px;
    top: 3px;
    width: 25px;
    height: 25px;
    border-right: 1px solid #E0E0E1;
    border-top: 1px solid #E0E0E1;
    border-radius: 2px;
    text-indent: -5000px;
    z-index: -1;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .topMore .breadcrumb a:after {
    display: inline-block;
    content: ".";
    position: absolute;
    right: -10px;
    top: 3px;
    width: 25px;
    height: 25px; }
  .topMore .breadcrumb a.home {
    font-size: 17px;
    color: #777777;
    width: 38px;
    text-align: center;
    padding: 0;
    margin: 0 0 0 -10px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 99;
    line-height: 29px;
    display: inline-block;
    height: 31px; }
    .topMore .breadcrumb a.home:after {
      display: none; }
    .topMore .breadcrumb a.home:before {
      display: none; }
  .topMore .breadcrumb a {
    display: inline-block;
    background: #fff;
    padding: 0 18px 0 25px;
    margin-left: -26px;
    position: relative;
    z-index: 2;
    color: #383838;
    font-size: 14px;
    font-weight: 600;
    word-spacing: -1px; }

#productsSortForm {
  float: right;
  margin-top: 6px; }
  #productsSortForm label {
    float: left;
    margin: 4px 10px 0 0; }

#uniform-selectProductSort {
  float: right; }

.sortPagiBar .display {
  float: left;
  border: 1px solid #1B2845;
  border-radius: 5px;
  padding: 0px;
  margin: 0px; }
  .sortPagiBar .display li {
    padding: 3px 15px; }
  .sortPagiBar .display li.selected {
    background: #1B2845;
    border-radius: 4px; }
    .sortPagiBar .display li.selected i {
      color: #fff; }

.sortPagiBar span {
  color: #383838;
  font-weight: 600;
  margin: 5px 0 0 15px;
  float: left; }

.top-pagination-content div.pagination .showall, .bottom-pagination-content div.pagination .showall {
  float: left;
  margin: 0px;
  margin-right: 15px; }

.top-pagination-content ul.pagination, .bottom-pagination-content ul.pagination {
  margin: 0px;
  background: #F9F9F9;
  border: 1px solid #BBBBBB;
  border-radius: 5px; }

.content_sortPagiBar .sortPagiBar {
  border-bottom: none; }

.content_sortPagiBar .display li a i, .content_sortPagiBar .display_m li a i {
  display: block;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  margin-bottom: -3px;
  color: #1A233E; }

.top-pagination-content ul.pagination li > a, .top-pagination-content ul.pagination li > span, .bottom-pagination-content ul.pagination li > a, .bottom-pagination-content ul.pagination li > span {
  margin: 0px;
  padding: 0;
  font-weight: bold;
  border: 1px solid;
  display: block;
  border-left: none;
  border-right: 1px solid #BBBBBB;
  border-top: none;
  border-bottom: 0px;
  background: transparent; }

.compare-form .button.button-medium {
  font-size: 15px;
  padding: 0;
  line-height: 21px;
  color: #1b2845;
  font-weight: bold;
  border: none;
  text-shadow: none;
  background: #1b2845;
  color: #fff;
  border-radius: 5px;
  text-shadow: none; }
  .compare-form .button.button-medium:hover {
    background: #082156; }
  .compare-form .button.button-medium span {
    font-size: 12px;
    padding: 5px 10px 6px 10px;
    line-height: normal;
    font-weight: 600; }

.rightFun {
  float: right; }

.top-pagination-content .compare-form, .bottom-pagination-content .compare-form {
  float: left;
  margin-right: 10px; }

.top-pagination-content div.pagination .showall .btn span, .bottom-pagination-content div.pagination .showall .btn span {
  font-size: 12px;
  padding: 4px 10px 4px 10px;
  line-height: normal;
  font-weight: 600; }

.showall .button.exclusive-medium {
  font-size: 15px;
  padding: 0;
  line-height: 21px;
  color: #1b2845;
  font-weight: bold;
  border: 2px solid #1b2845;
  text-shadow: none;
  background: white;
  color: #1b2845;
  border-radius: 5px;
  text-shadow: none; }
  .showall .button.exclusive-medium:hover {
    background: #1b2845;
    color: #fff; }

.top-pagination-content ul.pagination li.pagination_previous > a, .top-pagination-content ul.pagination li.pagination_previous > span, .top-pagination-content ul.pagination li.pagination_next > a, .top-pagination-content ul.pagination li.pagination_next > span, .bottom-pagination-content ul.pagination li.pagination_previous > a, .bottom-pagination-content ul.pagination li.pagination_previous > span, .bottom-pagination-content ul.pagination li.pagination_next > a, .bottom-pagination-content ul.pagination li.pagination_next > span {
  border: none;
  background: none;
  display: block;
  padding: 3px 0; }

ul.pagination li:nth-child(2) span {
  border-left: 1px solid #BBBBBB !important; }

.top-pagination-content div.pagination, .bottom-pagination-content div.pagination {
  margin: 0;
  float: right;
  width: auto;
  float: right;
  text-align: center; }

#last_quantities {
  background: #fe9126;
  border: none;
  font-size: 12px;
  padding: 3px 8px 3px;
  position: relative;
  top: 1px;
  margin-left: 0px;
  border-radius: 8px; }

.top-pagination-content, .bottom-pagination-content {
  text-align: center;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative; }

#pagination_previous span, #pagination_previous a {
  padding: 4px 0px 0 8px; }

#pagination_next span, #pagination_next a {
  padding: 4px 6px 0 0px; }

#pagination_previous_bottom span, #pagination_previous_bottom a {
  padding: 4px 0px 0 8px; }

#pagination_next_bottom span, #pagination_next_bottom a {
  padding: 4px 6px 0 0px; }

.content_sortPagiBar .display li a:hover i, .content_sortPagiBar .display_m li a:hover i {
  color: #1b2845; }

.content_sortPagiBar .display li.selected a:hover i, .content_sortPagiBar .display_m li.selected a:hover i {
  color: #fff; }

.fullFun {
  margin-bottom: 15px; }

.bottom-pagination-content {
  border-top: 1px solid #E0E0E1;
  padding: 0px;
  padding-top: 15px; }

.block .title_block, .block h4 {
  font: 600 16px/22px "Source Sans Pro", Helvetica, sans-serif;
  color: #fff;
  background: #1B2845;
  border-top: none;
  text-transform: none;
  border-radius: 4px;
  padding: 10px 5px 11px 20px;
  margin: 0px; }
  .block .title_block a, .block h4 a {
    color: #fff; }

#categories_block_left li a {
  font-weight: 600;
  color: #383838;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 36px;
  padding: 0 30px 0 19px;
  border-bottom: 1px solid #E0E0E1; }

#categories_block_left li li a {
  font-weight: 600;
  color: #383838;
  font-size: 12px; }

.box {
  color: #333333; }

.block_content {
  margin: -2px 3px 0 3px;
  border: 1px solid #1b2845;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

#categories_block_left li span.grower.OPEN:before, #categories_block_left li span.grower.CLOSE:before {
  vertical-align: middle;
  width: 36px;
  height: 36px;
  color: #333;
  line-height: 36px;
  text-align: center; }

#categories_block_left li li a:before {
  display: none; }

#categories_block_left ul li ul li a {
  padding-left: 25px; }

#categories_block_left ul li ul li ul li a {
  padding-left: 35px; }

#categories_block_left ul li ul li ul li ul li a {
  padding-left: 45px; }

.block .list-block li a:before {
  transition: 0.6s; }

.block .list-block li a:hover {
  color: #333;
  font-weight: normal; }

.block .list-block li a:hover:before {
  color: #333;
  font-weight: normal;
  margin-right: 8px; }

#page .rte {
  padding: 0px;
  word-wrap: break-word;
  text-align: justify;
  color: #333333;
  font-size: 14px;
  line-height: 18px; }
  #page .rte img {
    max-width: 100%;
    height: auto; }

#center_column .title_block {
  height: 43px;
  padding: 12px 0 0 10px;
  margin-bottom: 15px; }

.mansup-container .product-name {
  font-size: 18px;
  margin-top: 24px;
  float: left;
  line-height: 18px;
  color: #1b2845;
  margin-bottom: 0; }
.mansup-container .rte {
  float: left;
  margin-top: 5px;
  font-size: 13px;
  line-height: initial; }

.rte ul {
  margin-left: 20px; }

#manufacturer .bottom-pagination-content, #manufacturer .top-pagination-content, #supplier .bottom-pagination-content, #supplier .top-pagination-content {
  min-height: auto; }

#manufacturers_list.list li .mansup-container, #suppliers_list.list li .mansup-container {
  padding: 15px 0 15px 0; }

#manufacturers_list.list li .right-side-content, #suppliers_list.list li .right-side-content {
  border-left: 1px solid #E0E0E1;
  padding: 23px 0 0px 31px;
  min-height: 108px; }

.nav-tabs > li.seeAll {
  float: right; }
  .nav-tabs > li.seeAll.newP {
    display: block; }
  .nav-tabs > li.seeAll.bestP {
    display: none; }

#mypresta_mib .title_block {
  position: relative;
  bottom: -4px;
  margin-bottom: 0px; }

#mypresta_mib .title_block a {
  font-size: 12px;
  color: #3772FF;
  font-weight: 600;
  float: right; }

#home-page-tabs > li.seeAll a {
  font-size: 12px;
  color: #3772FF;
  font-weight: 600;
  padding: 11px 0 0 0;
  opacity: 1; }

li.product-box .showSecond ul li {
  width: 50%; }

.alert {
  font-weight: bold;
  border: none;
  border-radius: 5px; }

#product #opis {
  margin-bottom: 30px; }
#product .product-box .product-image {
  border: none;
  background: transparent;
  padding: 5px;
  display: block;
  margin-bottom: 11px; }
#product .primary_block {
  margin-bottom: 30px; }
#product #productscategory_list {
  margin-top: 15px; }
#product .title_block {
  height: 43px;
  padding: 12px 0 0 10px; }
#product #product_comments_block_tab {
  margin: 0 0 20px 0;
  border: 1px solid #f0f0f0;
  padding: 15px 15px 2px 15px; }
#product h3.page-product-heading {
  color: #1b2845;
  text-transform: none;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  padding: 14px 20px 17px;
  margin: 0;
  position: relative;
  border: none;
  border-bottom: none;
  background: #f0f0f0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
#product .table-data-sheet {
  border-bottom: 1px solid #E0E0E1;
  width: 100%;
  margin: 0 0 20px;
  background: #fff;
  border: 1px solid #f0f0f0; }
#product #thumbs_list {
  overflow: hidden;
  float: left;
  width: 90%; }
  #product #thumbs_list li {
    margin-right: 9px; }
#product #views_block {
  margin-top: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 9px;
  padding: 10px 0; }
#product .box-info-product {
  background: transparent;
  border: none;
  border-top: none;
  border-bottom: none; }
#product .fb-like {
  float: right;
  margin-top: 4px; }
#product #wishlist_button:before, #product #wishlist_button_nopop:before {
  content: "\f004";
  background: none;
  color: #1B2845;
  width: 16px; }
#product .buttons_bottom_block {
  float: left;
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-top: 15px;
  border-top: 1px solid #dbdbdb;
  padding-top: 9px; }
#product #wishlist_button, #product #wishlist_button_nopop {
  font-weight: 600;
  border-radius: 0;
  background-color: transparent;
  border-color: transparent;
  margin: auto;
  outline: 0;
  color: #1B2845;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px; }
  #product #wishlist_button:hover, #product #wishlist_button_nopop:hover {
    color: #3772FF; }
    #product #wishlist_button:hover:before, #product #wishlist_button_nopop:hover:before {
      color: #3772FF; }
#product .formBuy {
  float: left;
  width: 100%; }
  #product .formBuy label {
    text-align: left; }
#product .box-info-product {
  float: left;
  width: 100%; }
#product .content_prices {
  padding: 0px;
  float: left;
  width: 100%; }
#product #quantity_wanted_p {
  border: 1px solid #3772FF;
  border-radius: 5px;
  float: left;
  width: 100%;
  margin-top: 10px; }
  #product #quantity_wanted_p .textL {
    float: left;
    font-size: 14px;
    font-weight: 600;
    color: #1B2845;
    padding: 10px 0 0 13px; }
  #product #quantity_wanted_p #quantity_wanted_p .btn {
    float: left;
    margin-left: 0px; }
  #product #quantity_wanted_p .leftQ {
    float: left; }
  #product #quantity_wanted_p .box-cart-bottom {
    float: right; }
  #product #quantity_wanted_p #add_to_cart {
    margin: 0px;
    padding: 0px; }
  #product #quantity_wanted_p .box-info-product p {
    margin: 0px;
    padding: 0px; }
  #product #quantity_wanted_p .exclusive {
    border: none;
    background: none;
    border-radius: 0px;
    border-radius: 0px; }
    #product #quantity_wanted_p .exclusive:before {
      display: none; }
    #product #quantity_wanted_p .exclusive:after {
      font-family: "FontAwesome";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      color: #fff;
      font-size: 16px;
      line-height: 42px;
      text-shadow: none;
      content: "\f07a";
      z-index: 2;
      left: inherit;
      background: none;
      width: 51px;
      text-align: center;
      border: none;
      border-radius: 0; }
    #product #quantity_wanted_p .exclusive span {
      background: #3772FF;
      border: none;
      border-radius: 0px;
      color: #fff;
      font-size: 16px;
      text-transform: none;
      font-weight: 500;
      padding: 8px 15px;
      padding-right: 50px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
    #product #quantity_wanted_p .exclusive:hover span {
      background: #0e55ff; }
  #product #quantity_wanted_p .btn.button-plus, #product #quantity_wanted_p .btn.button-minus {
    font-size: 14px;
    line-height: 14px;
    color: #c0c0c0;
    border-radius: 100%;
    text-shadow: none;
    padding: 0;
    border: none;
    margin-top: 9px; }
    #product #quantity_wanted_p .btn.button-plus span, #product #quantity_wanted_p .btn.button-minus span {
      border-radius: 100%;
      width: 20px;
      color: #1B2845;
      height: 20px;
      font-size: 9px;
      line-height: 20px;
      display: block;
      text-align: center; }
  #product #quantity_wanted_p .text {
    float: left;
    font-size: 14px;
    padding: 0px;
    margin: 6px 0 0 5px;
    width: 60px;
    font-weight: 600;
    color: #1B2845; }
  #product #quantity_wanted_p input {
    border: none;
    background: transparent; }
#product .product_attributes {
  margin-top: 5px; }
#product .box-cart-bottom {
  box-shadow: none; }
#product .product_attributes {
  box-shadow: none;
  padding: 0px;
  float: left;
  width: 100%; }
#product #old_price {
  padding: 9px 0 0 10px;
  margin: 0px; }
#product #old_price_display {
  background: transparent;
  border: none; }
  #product #old_price_display span {
    color: #D0021B;
    font-size: 34px;
    font-weight: 300;
    text-decoration: line-through; }
#product .our_price_display .price {
  color: #3772FF;
  font-size: 44px;
  font-weight: 300; }
#product #usefull_link_block li {
  margin: 9px 15px 0 0;
  float: right;
  font-size: 13px; }
#product #usefull_link_block li a:before {
  font-family: "FontAwesome";
  color: #333;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  top: -2px;
  left: 0;
  font-weight: normal; }
  #product #usefull_link_block li a:before:hover {
    color: #3772FF; }
#product #usefull_link_block li a {
  color: #383838;
  font-weight: 600;
  position: relative;
  padding-left: 23px;
  text-shadow: none;
  line-height: 22px;
  display: inline-block; }
  #product #usefull_link_block li a:hover {
    color: #3772FF; }
#product div.selector, #product div.selector span {
  background-image: none;
  background: #1B2845;
  border-radius: 5px;
  text-shadow: none;
  color: #fff;
  width: 100 !important;
  float: left;
  line-height: 32px;
  height: 32px; }
#product div.selector span {
  padding-right: 15px; }
#product div.selector span:after {
  content: "\f0d7";
  font-family: "FontAwesome";
  display: inline-block;
  float: right;
  font-size: 12px;
  color: #fff;
  padding: 0px 0 0 6px; }
#product #attributes .attribute_list .form-control {
  max-width: 430px; }
#product .attribute_fieldset {
  float: left;
  width: 100%; }
#product .attribute_list {
  float: left;
  width: 100%; }
#product #attributes {
  float: left;
  width: 100%; }
#product .selector {
  float: left;
  width: 100%; }
#product .top-title {
  margin: 15px 0 30px 0; }
  #product .top-title h1 {
    margin: 0px;
    font-size: 26px;
    color: #1B2845;
    font-weight: 600;
    padding: 0px; }
#product .pb-center-column label {
  color: #383838;
  width: 30%;
  font-size: 14px;
  font-weight: 700; }
#product .pb-center-column #manufacturer {
  margin-bottom: 1px; }
#product .pb-center-column #warranty {
  border-bottom: 1px solid #DBDBDB;
  padding-bottom: 10px; }
#product .pb-center-column #availability_date span {
  width: auto !important; }
#product .pb-center-column #sendtime {
  border-bottom: 1px solid #DBDBDB;
  padding-bottom: 10px; }
  #product .pb-center-column #sendtime label {
    width: 100%; }
#product .pb-center-column .sendTime label {
  width: 100%; }
#product .pb-center-column span {
  color: #383838;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase; }
#product .pb-center-column .statusQ {
  min-height: 30px;
  float: left;
  width: 100%; }
#product .pb-center-column #pQuantityAvailable {
  float: left;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: #6EA000; }
  #product .pb-center-column #pQuantityAvailable .status {
    width: 12px;
    height: 12px;
    float: left;
    background: #6EA000;
    display: inline;
    margin: 2px 5px 0 0;
    border-radius: 100%; }
  #product .pb-center-column #pQuantityAvailable span#quantityAvailable {
    font-size: 14px;
    font-weight: 600;
    color: #6EA000; }
#product .pb-center-column .sendTime {
  float: left;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: #6EA000;
  float: left;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 10px;
  padding-bottom: 15px; }
  #product .pb-center-column .sendTime td {
    padding: 5px 15px;
    font-size: 12px;
    color: #333; }
  #product .pb-center-column .sendTime table {
    margin-top: 5px;
    margin-bottom: 0px; }
  #product .pb-center-column .sendTime span.carrier {
    float: left;
    padding: 3px 15px;
    width: 100%; }
  #product .pb-center-column .sendTime .free {
    color: #6EA000;
    text-transform: none;
    font-size: 12px; }
    #product .pb-center-column .sendTime .free i {
      margin-right: 3px; }
#product .pb-center-column #availability_value.label {
  border: none !important; }
#product .pb-center-column #availability_value.label-danger {
  color: #e62a37 !important;
  text-transform: none !important;
  background: #fff;
  padding: 0px;
  margin: 0px;
  float: left;
  width: 100%;
  font-size: 14px;
  font-weight: 600; }
  #product .pb-center-column #availability_value.label-danger .status {
    width: 12px;
    height: 12px;
    float: left;
    background: #e62e3a;
    display: inline;
    margin: 3px 5px 0 0;
    border-radius: 100%; }
#product .pb-center-column #availability_value.label-success {
  border: none;
  color: #fff !important;
  text-transform: none !important; }
#product .pb-center-column #availability_value.label-warning {
  border: none;
  color: #fff !important;
  text-transform: none !important; }
  #product .pb-center-column #availability_value.label-warning .status {
    width: 14px;
    height: 14px;
    float: left;
    background: #E91D36;
    display: inline;
    margin: 2px 5px 0 0;
    border-radius: 100%; }

#index .title_block {
  position: relative;
  bottom: -3px; }

.box {
  border-radius: 5px; }

#cart_summary tfoot td.price {
  text-align: right;
  width: 100%; }

.label {
  border: none;
  border-radius: 5px; }

.bx-loading {
  background: #000;
  position: relative;
  top: 0px;
  right: 0px;
  left: 0px;
  padding: 0px;
  height: 300px; }

.layer_cart_overlay {
  transition: 1s;
  background-color: #1b2845;
  opacity: 0.7; }

.rte ul li ul li {
  list-style-type: circle; }

.box-info-product p {
  margin-bottom: 7px;
  margin-top: 10px; }

.pack_price {
  color: red; }

#availability_statut span {
  margin-left: 0px; }

#left_column .footer-block {
  display: none; }

#order .cart_line {
  float: left;
  width: 100%; }
#order .cart_quantity_button {
  display: inline-flex; }
#order .cart_quantity .cart_quantity_input {
  display: initial; }

#product .attribute_fieldset {
  float: left;
  width: 100%;
  margin-bottom: 10px; }

#HOOK_PAYMENT .col-md-6 {
  width: 100% !important; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

.cart_quantity_button .btn {
  padding: 2px 8px !important;
  font-size: 11px !important; }

#layered_form .color-option.on {
  opacity: 0.4; }

.tab-content table {
  border: 1px solid #d6d4d4; }
  .tab-content table > thead > tr > th,
  .tab-content table > thead > tr > td,
  .tab-content table > tbody > tr > th,
  .tab-content table > tbody > tr > td,
  .tab-content table > tfoot > tr > th,
  .tab-content table > tfoot > tr > td {
    border: 1px solid #d6d4d4; }
  .tab-content table > thead > tr > th,
  .tab-content table > thead > tr > td {
    border-bottom-width: 2px; }

#color_160 {
  border: 1px solid #999999; }

.unit-price {
  float: left;
  clear: both;
  margin: 18px 0 0 0;
  font-size: 14px;
  color: #383838;
  background: #f3f3f3;
  padding: 2px 18px;
  border-radius: 5px;
  width: auto;
  text-align: center; }

#reduction_percent, #reduction_amount {
  margin-left: 10px;
  padding: 1px 2px;
  color: #fff;
  background: #f13340;
  border: none;
  border-radius: 5px; }
  #reduction_percent span, #reduction_amount span {
    color: #fff !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    padding: 0 5px !important; }

#left_column .price-percent-reduction {
  display: none; }
#left_column .old-price {
  margin-left: 5px; }
#left_column .price {
  font-size: 16px; }
#left_column .product-content h5 {
  position: relative;
  top: -11px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  min-height: 73px; }

#accessories .item {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
  margin-right: 15px; }
#accessories .price {
  float: inherit; }
#accessories .product-name a {
  font-size: 15px; }
#accessories .button.ajax_add_to_cart_button {
  font: 700 17px/21px "Source Sans Pro", Helvetica, sans-serif;
  color: #fff;
  text-shadow: none;
  padding: 0;
  float: inherit;
  border: none;
  border-color: transparent; }
  #accessories .button.ajax_add_to_cart_button span {
    padding: 5px 10px; }
  #accessories .button.ajax_add_to_cart_button:hover span {
    padding: 5px 10px; }

.tab-content {
  margin-top: 20px;
  margin-bottom: 30px;
  float: left;
  width: 100%; }

@media only screen and (max-width: 1200px) {
  .sf-menu > li > a {
    padding: 20px 10px 18px 10px; }

  .sf-menu > li > a {
    font-size: 13px; }

  ul.step li a, ul.step li span, ul.step li.step_current span, ul.step li.step_current_end span {
    font-size: 12px !important; }

  .sf-menu > li:nth-last-child(-n+2) {
    display: none; }

  .sf-menu > li:nth-last-child(-n+1) {
    display: none; }

  .footer-container #footer h4 {
    font-size: 16px; }

  #quantity_wanted_p input {
    width: 50px; }

  #quantity_wanted_p .btn {
    margin-left: 0px; }

  #product #quantity_wanted_p .box-cart-bottom {
    width: 100%; }

  #product #quantity_wanted_p .exclusive {
    width: 100%; }

  #quantity_wanted_p .btn {
    margin-right: 12px;
    float: right; }

  #product #quantity_wanted_p .leftQ {
    width: 100%; }

  #product #quantity_wanted_p .exclusive span {
    border-top-right-radius: 0px; }

  .topMore .breadcrumb {
    font-size: 12px; }
    .topMore .breadcrumb a {
      font-size: 12px; }

  #header .cart_block {
    width: 300px; } }
@media only screen and (min-width: 1200px) {
  .bx-controls {
    z-index: 9999999 !important; }

  .footer-container #footer h4 {
    font: 600 16px/22px "Source Sans Pro", Helvetica, sans-serif; }

  .bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff !important;
    opacity: 0.7;
    width: 9px;
    height: 9px;
    margin: 0 4px;
    border-radius: 19px; }

  .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #fff !important;
    opacity: 1; }

  .bx-viewport {
    z-index: 0; }

  #homepage-slider .bx-wrapper .bx-controls-direction a.bx-prev {
    left: 0px;
    bottom: 3px;
    border: none;
    opacity: 0.7;
    background: none; }
    #homepage-slider .bx-wrapper .bx-controls-direction a.bx-prev:hover {
      opacity: 1; }
    #homepage-slider .bx-wrapper .bx-controls-direction a.bx-prev:before {
      background: none; }

  #homepage-slider .bx-wrapper .bx-controls-direction a.bx-next {
    right: 0px;
    bottom: 3px;
    border: none;
    opacity: 0.7;
    background: none; }
    #homepage-slider .bx-wrapper .bx-controls-direction a.bx-next:before {
      background: none; }
    #homepage-slider .bx-wrapper .bx-controls-direction a.bx-next:hover {
      opacity: 1; }

  #blocknewproductscontent .bx-wrapper .bx-controls-direction a.bx-prev, #productscategory_list .bx-wrapper .bx-controls-direction a.bx-prev {
    background: url("/themes/swift/img/custom/15-bx-nav-left.svg") top left no-repeat;
    height: 86px;
    width: 85px;
    transition: 0.6s;
    z-index: 0; }
    #blocknewproductscontent .bx-wrapper .bx-controls-direction a.bx-prev:hover, #productscategory_list .bx-wrapper .bx-controls-direction a.bx-prev:hover {
      background: url("/themes/swift/img/custom/16-bx-nav-left-hover.svg") top left no-repeat;
      transition: 0.6s; }
    #blocknewproductscontent .bx-wrapper .bx-controls-direction a.bx-prev:before, #productscategory_list .bx-wrapper .bx-controls-direction a.bx-prev:before {
      display: none; }
  #blocknewproductscontent .bx-next, #productscategory_list .bx-next {
    right: -30px; }
  #blocknewproductscontent .bx-prev, #productscategory_list .bx-prev {
    left: -30px; }
  #blocknewproductscontent .bx-wrapper .bx-controls-direction a.bx-next, #productscategory_list .bx-wrapper .bx-controls-direction a.bx-next {
    background: url("/themes/swift/img/custom/17-bx-nav-right.svg") top right no-repeat;
    height: 86px;
    width: 85px;
    transition: 0.6s;
    z-index: 0; }
    #blocknewproductscontent .bx-wrapper .bx-controls-direction a.bx-next:hover, #productscategory_list .bx-wrapper .bx-controls-direction a.bx-next:hover {
      background: url("/themes/swift/img/custom/18-bx-nav-right-hover.svg") top right no-repeat;
      transition: 0.6s; }
    #blocknewproductscontent .bx-wrapper .bx-controls-direction a.bx-next:before, #productscategory_list .bx-wrapper .bx-controls-direction a.bx-next:before {
      display: none; }
  #blocknewproductscontent .bx-controls, #productscategory_list .bx-controls {
    z-index: -1 !important; }
  #blocknewproductscontent .bx-viewport, #productscategory_list .bx-viewport {
    z-index: 99; }

  .tab-content .bx-prev {
    left: -30px; }
  .tab-content .bx-next {
    right: -30px; } }
@media only screen and (max-width: 992px) {
  #search_block_top {
    width: 157px; }

  header .row #header_logo {
    width: 50.33333%; }

  #search_block_top .ts {
    display: none !important; }

  #header .cart_block {
    width: 300px; }

  #layered_block_left .nomargin a {
    font-size: 11px; }

  .sf-menu > li > a {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #101826;
    display: block;
    padding: 20px 1px 18px 15px; }

  .shopping_cart > a:first-child span.ajax_cart_product_txt {
    display: inline !important; }

  #mypresta_mib ul li {
    width: 33.3333333333%;
    height: 73px; }

  #search_block_top #searchbox {
    float: left;
    width: 143px; }

  #mypresta_mib ul li .img-responsive {
    display: inherit;
    height: 69px;
    margin-top: 2px; } }
@media only screen and (max-width: 767px) {
  header .row #header_logo {
    width: 100%;
    background: #fff;
    text-align: center;
    height: auto;
    padding: 10px; }

  ul.product_list .color-list-container {
    margin-bottom: 0px;
    position: absolute;
    bottom: 5px;
    right: initial;
    left: 15px; }

  #mypresta_mib .item-link {
    display: none; }
  #mypresta_mib .title_block:after, #mypresta_mib h4:after {
    display: none; }
  #mypresta_mib ul {
    width: 100%; }
    #mypresta_mib ul li {
      height: auto; }
      #mypresta_mib ul li .img-responsive {
        margin: 15px; }

  .block .title_block:after, .block h4:after {
    top: 11px; }

  .footer-container #footer h4:after {
    display: none; }

  .bgHead {
    background: #1B2845; }

  #search_block_top #searchbox {
    float: left;
    width: 100%; }

  #search_block_top {
    width: 45%; }

  #homepage-slider {
    width: 100%;
    max-width: 100%;
    padding-top: 0px; }

  #homepage-slider .homeslider-description {
    padding: 0px;
    font-size: 0.7em; }

  .rightSide {
    float: right;
    padding-left: 15px; }

  #header .rightSide {
    width: 100%; }

  li.ajax_block_product .showSecond {
    display: block; }

  li.ajax_block_product .showFirst {
    display: none; }

  #header_logo .logo {
    max-width: 100%;
    position: relative; }

  #htmlcontent_home {
    display: none; }

  .block {
    margin-bottom: 30px; }

  .cat-title {
    border-bottom: #fff;
    background: #f0f0f0; }

  .showall .button.exclusive-medium {
    margin-bottom: 15px; }

  #productsSortForm {
    width: 100%; }

  .topMore {
    max-height: initial;
    min-height: 60px; }

  #home-page-tabs > li.seeAll a {
    display: none; }

  .leftInfo {
    display: none; } }
@media only screen and (max-width: 479px) {
  #index ul.product_list.tab-pane > li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    float: left; }

  .header_user_info a {
    font-size: inherit; }

  .col-xs-12 {
    width: 100%;
    float: left; }

  footer .firstLine {
    background: #1B2845; }

  .footer-container #footer h4:after {
    display: none; }

  footer .secondLine {
    background: #1B2845; }

  .footer-container #footer h4 {
    font-weight: 700;
    margin-bottom: 10px; }

  #mypresta_mib .item-link {
    float: left;
    width: 23.8%;
    display: none; }

  #mypresta_mib ul {
    width: 100%; }

  #mypresta_mib ul li {
    border: none; }

  #mypresta_mib ul li {
    width: 50%;
    height: 132px; }

  #mypresta_mib ul li .img-responsive {
    display: inherit;
    height: 120px;
    margin-top: 4px; }

  .block .title_block:after, .block h4:after {
    display: none; }

  #home-page-tabs > li {
    width: auto; }

  .nav-tabsProduct > li {
    width: auto; }

  .footer-container #footer .footer-block {
    margin-top: 42px;
    margin-bottom: 10px;
    float: left; } }
.sendTime #inline {
  font-size: 12px;
  text-decoration: underline; }

.label-success {
  background-color: #55c65e;
  border: 1px solid #36943e;
  color: #fff !important;
  text-transform: none !important;
  font-size: 13px !important; }

.label-warning {
  background-color: #fe9126;
  border: 1px solid #e4752b; }

#module-bankwire-payment .price, #order-confirmation .price {
  float: initial;
  color: #333;
  line-height: initial;
  text-align: initial;
  font: 600 14px/23px "Source Sans Pro", Helvetica, sans-serif; }

/*# sourceMappingURL=custom.css.map */
