/******************************************************************
					Sitemap Page Styles
					*******************************************************************/
#sitemap .sitemap_block .page-subheading {
  margin-bottom: 16px; }
#sitemap .sitemap_block li {
  line-height: 16px;
  padding-bottom: 11px; }
  #sitemap .sitemap_block li a:before {
    content: "\f105";
    display: inline-block;
    font-family: "FontAwesome";
    padding-right: 10px; }
  #sitemap .sitemap_block li a:hover {
    font-weight: bold; }

/*# sourceMappingURL=sitemap.css.map */
